[2013-11-04 11:36] redross opened #15 "Pronto (grit) crashes when trying to run it against not commited changes"
/gems/grit-2.5.0/lib/grit/blame.rb:41:in `block in process_raw_blame': undefined method`id' for nil:NilClass (NoMethodError)

[2013-11-08 05:26] zoras opened #16 "Append comments on 'Files changed' page rather than 'Discussion' page"
Right now pronto appends automated comments in github's [Discussion](https://github.com/mmozuras/pronto/pull/14] page).

However it is more common to place the comments inline within the [Files Changed](https://github.com/mmozuras/pronto/pull/14/files) tab.

It would be nice to see this behaviour :sailboat:

[2013-11-09 21:11] #15 closed, assigned to mmozuras

[2013-11-09 21:59] ghost opened #17 "How to run pronto on the entire source tree?"
I would like to run pronto on the entire source tree (for the initial run) - how would I do that?

[2013-11-11 19:35] mmozuras opened #18 "Verbose output"
Provide more output, for debugging and following of progress, if `--verbose` flag is passed.

[2013-11-11 19:37] mmozuras opened #19 "Clean up Runner API"
With six runners, API is starting to get more stable. Time to refactor, clean up the API.

Also: high time to write a wiki entry on how to write a runner for Pronto.

[2013-11-11 19:39] mmozuras opened #20 "Runner Configuration"
Provide a way to configure runners. First use case: `--liberal` flag for [pronto-flay](https://github.com/mmozuras/pronto-flay).

[2014-03-04 11:32] driv3r opened #23 "stream error (Zlib::StreamError)"
When running pronto with github formatter it crashes after first comment. When `GITHUB_ACCESS_TOKEN` is missing, there's the same error but without comment on PR.

Installed runners as gems (i.e. not within Gemfile):
- brakeman
- flay
- rails_best_practices
- rubocop

Backtrace:

[code]

[2014-06-05 08:54] jeroenj opened #25 "GitLab formatter"
Since we are using GitLab at our company it would be nice to have GitLab formatter.
I already started working on it and I've got a working formatter but it's far from completed: https://github.com/jeroenj/pronto/tree/gitlab-formatter.
I'll try to clean it up when I find the time, but I'm already putting it here for anybody who's interested to help out.
There also needs to be some work done in the

[2014-07-14 08:31] bekinin opened #27 "add option to return not 0 status code if any issues found"
I am using pronto in CI and I miss one feature to mark build as failed if any issues found in pronto run.

So, it would  be great to add some command, which would set status code as not zero, if any issues found, so that CI would fail the build.

[2014-07-16 13:12] jeroenj opened #28 "Runner request: haml-lint"
It would be nice to have runner for [haml-lint](https://github.com/causes/haml-lint).

I currenlty don't have to the time to find out how to write one, but I'll try to get to it somewhere the following weeks. Unless somebody else would like to work on it of course. :)

[2014-07-20 14:03] #28 closed, assigned to nobody

[2014-07-22 07:32] jeroenj opened #29 "Incompatible with rugged v0.21.0"
It seems that rugged has changed its api causing it to break with pronto:

[code]

[2014-08-10 17:51] #17 closed, assigned to mmozuras

[2014-08-27 20:01] dankohn opened #31 "Please issue 0.26 to work with rspec-rails"
This pull request to support a newer `thor`, which you've already merged, is necessary to work with `rspec-rails` 3.0.22. https://github.com/mmozuras/pronto/pull/26 WIthout it, I get:

[code]

Could you please rev the version of pronto to 0.26 and push to Rubygems. In the meantime, pulling master works:

[code]

Thanks.

[2014-09-02 12:00] spajus opened #33 "Skip pronto for some pull requests / commits"
Sometimes, when you are importing third party code into your repo (don't ask :smile: ), you know it will be shit and pronto will be all over it. It would be nice to be able to say `pronto no bueno` or some other safe-word in your commit message / pull request to skip pronto.

@mmozuras

[2014-09-10 18:17] #16 closed, assigned to mmozuras

[2014-09-10 18:17] #27 closed, assigned to mmozuras

[2014-09-10 18:20] #31 closed, assigned to nobody

[2014-09-10 18:23] #19 closed, assigned to mmozuras

[2014-09-10 18:26] #29 closed, assigned to mmozuras

[2014-10-22 08:07] mmozuras opened #39 "Check pull request for deviation before writing comments"
GithubPullRequestFormatter bug:

If new commits are added to a pull request, Pronto sometimes writes comments on incorrect lines. Before doing that, it should check whether pull request hasn't changed.

Reported by @ljank

[2014-11-14 02:04] johnhamelink opened #45 "Bitbucket Formatter"
It'd be quite nice to use this with bitbucket's PR Requests!

[2014-11-17 17:38] karloscodes opened #47 "Problems with rugged 0.21.0"
I have just installed pronto 0.3.3 as you see

[code]

and when I execute pronto run I'm getting

[code]

[2014-11-18 20:57] Linuus opened #48 "Does pronto need to have access to the entire source?"
Hi

Is it possible to run Pronto without checking out the entire source locally?

I mean, when commenting on a PR diff it does not seem necessary to be in the actual repo when running Pronto.

Something like this:

[code]

This could just pull the diff from:
https://github.com/mmozuras/pronto/pull/44.diff
and analyze that?

[2014-11-19 11:41] Linuus opened #49 "Crash when there is no Github PR"
If I run pronto on a branch with the `github_pr` formatter it crashes if there is no PR.
`octokit-3.5.2/lib/octokit/response/raise_error.rb:16:in`on_complete': POST https://api.github.com/repos/Linuus/foobar/pulls/comments: 404 - Not Found // See: https://developer.github.com/v3 (Octokit::NotFound)`

Maybe it should just emit a more friendly message instead if the PR ID detection fails to find a P

[2014-11-29 10:25] #25 closed, assigned to nobody

[2014-11-29 11:55] #47 closed, assigned to mmozuras

[2014-12-13 15:39] Linuus opened #53 "Specify path for repo"
Hi!

I'd like to run Pronto from another directory than the git repo to analyze, is that possible?

I thought that was what this PR was for: https://github.com/mmozuras/pronto/pull/52 but it doesn't seem to work. Whenever I pass options for `pronto run` I get errors.

[code]

I'm using the github version of pronto.

[2014-12-15 20:07] #53 closed, assigned to mmozuras

[2015-01-09 18:43] mmozuras commented on #39
@Linuus I considered it fixed, but it was reproduced in another way today. Reopening again and will try to figure it out.

[2015-01-21 22:36] dankohn opened #55 "pronto misfiring on wrong commit"
I apologize in advance that this bug report will probably not have enough detail to enable debugging. However, last night, pronto, invoked as normal from our continuous integration machine with `bundle exec rake pronto:github` issued over 500 comments on a 5 month old commit, rather than the commit it was supposed to run on.  Specifically, my team received over 500 emails from Github with tons of

[2015-01-25 17:02] mmozuras commented on #55
@dankohn thanks for reporting it! :+1: Never seen that before. Hope, we'll be able to get more information, random is never random :smile:

[2015-01-28 10:49] jeroenj commented on #55
I had seen it before but it appeard to be fixed with the more recent versions of rugged.

I tracked it down to rugged using the wrong line numbers. I haven't seen the problem anymore since 0.3 was released.

@dankohn could you tell us which versions of pronto and rugged you are using?

[2015-01-29 09:53] hron84 opened #57 "Add exclude feature"
It would be good if pronto can omit some files based on glob patterns, such as db/schema.rb in Rails project which is always a generated file and should not be a subject of any check.

[2015-01-29 09:55] hron84 commented on #45
I think same

[2015-01-29 10:03] mmozuras commented on #57
@hron84 some runners already provide that possibility. For example, [pronto-rubocop](https://github.com/mmozuras/pronto-rubocop) just uses regular [.rubocop.yml](https://github.com/bbatsov/rubocop/) where you can specify exactly what you want. Does that help?

[2015-01-29 19:22] singpolyma opened #59 "Gitorious Merge Request Formatter"
Would be a nice integration to have.

[2015-01-29 22:49] michaelachrisco opened #62 "Exit values"
rspec, rubocop, and many other tools will run and have an exit code of 1 if anything is "wrong" with your code.

For example:
rubocop:
[code]
fail
[code]

This feature will help with integration of other tools into pronto that look at exit codes.

[2015-01-29 22:59] michaelachrisco commented on #62
Should be as easy as a ``` Kernel.exit(1) ```

[2015-01-30 06:38] mmozuras commented on #62
@michaelachrisco there's already `--exit-code` and no `--no-exit-code` flags that are meant for that. Do they solve your problem?

[2015-01-30 13:41] michaelachrisco commented on #62
Yes I did not see that. Ill close this then. Thanks!

[2015-01-30 13:41] #62 closed

[2015-02-02 10:15] hron84 commented on #57
A bit. However, I would prefer a regular option, what can be maintained via pronto, and not directly via the underlying plugin. For example, if I exclude db/schema.rb from rubocop, it is not guarantee it will exclude from other runners. However, since the db/schema.rb is purely autogenerated, I would exclude it from **all** runners, not only from rubocop because errors reacting to this file are co

[2015-02-03 14:52] eliotsykes opened #64 "Instructions for setting up local environment for contributors"
Would it be possible to add instructions to the CONTRIBUTING or README doc to advise developers/potential contributors on how to run pronto using the latest code from the pronto repo?

[2015-02-04 00:35] skwp opened #65 "Pronto does nothing silently; rubocop and rails_best_pratices report errors"
I can confirm that rubocop and rails_best_practices both return a handful of errors, however running pronto results in zero comments both in its normal mode (pronto run master) and github mode (GITHUB_ACCESS_TOKEN=[....] PULL_REQUEST_ID=3147 pronto run -f github_pr)

Has anyone experienced this? Ruby 2.1.1 / Rails 4.1

[2015-02-04 00:37] skwp commented on #65
Contents of Gemfile:
[code]

Gemfile.lock
[code]

[2015-02-04 03:23] jufemaiz commented on #45
+1

[2015-02-07 00:31] dankohn opened #66 "Pronto failing with spurious rubocop errors"
I'm seeing dozens of errors like:
[code]
But when I run `bundle exec rubocop -d` I'm not seeing any `RSpec/FilePath` errors.

Anything suggestions on how to debug the problem?

[2015-02-07 18:24] mmozuras commented on #66
@dankohn could you create a public GitHub repository which could be used to reproduce the issue?

[2015-02-08 14:56] mmozuras commented on #59
Certainly would be. As I don't use `Gitorious` myself, this is not a priority for me. But I'd gladly merge it in if someone else wrote it :smile:

[2015-02-08 14:58] mmozuras commented on #45
Same as with #59: I'd love it and gladly merge a pull request that includes Bitbucket Formatter. But since I don't use Bitbucket myself, this is not a priority for me personally :smile:

[2015-02-10 01:17] dankohn commented on #66
Have not been able to create a new repo yet, but I'm now seeing this:
[code]
repeated 20 times. Downgrading to pronto-rubocop 0.4.0 didn't fix it.

[2015-02-16 14:29] simicic opened #68 "Running pronto results with segmentation fault"
Hi!

I came across an issue that makes the pronto run task fail miserably - with **segmentation fault**.
The error message can be seen in this gist: https://gist.github.com/simicic/60f84a1f6187c0ec6e1c

Checking it in deep I saw it comes from the **rugged** gem - I can report an issue there as well, but let me first ask, how come that a single rename of a class (class name and file name) breaks pr

[2015-02-16 16:37] mmozuras commented on #68
@simicic hi, thanks for reporting!

Could you create a test repository with which anyone else could reproduce it too?

[2015-02-18 09:50] mmozuras opened #69 "Pronto doesn't handle file renames well"
`Rugged::Blame` doesn't seem to detect them or have an option to detect them. Maybe using `Diff#find_similar!` is an option, but will require further investigation.

[2015-02-20 15:57] somebody32 commented on #39
Got the same issue today. But pronto messes positions even without pr changes at all, just comments on the wrong lines.

Fixed by changing `line.position` to `message.line.position` https://github.com/mmozuras/pronto/blob/master/lib/pronto/formatter/github_pull_request_formatter.rb#L21

but don't think that this is a proper fix

[2015-02-25 17:19] ivantsepp commented on #17
@mmozuras any chance in reconsidering this? This would be a nice option to have as pronto would be a wrapper for all the linters you may have on a project. For ex, `pronto run` would show me ruby, scss, and js lint errors instead of me running the respective individual tools.

[2015-02-25 18:49] mmozuras commented on #17
@ivantsepp If I'd decide to implement it, I'd be faced with two choices:
* keeping the current way pronto works. But that would result in abysmal performance. Pronto is optimised for a certain scenario. Running it for entire source tree would take orders of magnitude longer than running those tools separately.
* implementing it in completely different way. But that basically means writing a new ge

[2015-02-25 19:41] ivantsepp commented on #17
Thanks for the speedy reply @mmozuras ! The idea I have is that you can set the different levels of running pronto. The default will check the diff only. The next level could check the entire file (so if you modified a file, you are responsible for fixing lint errors for the file). Then the last level would be the entire source. Maybe there can be a configuration so that pronto would run certain r

[2015-03-03 14:37] sjke opened #71 "Wrong work with GH"
╰─$ GITHUB_ACCESS_TOKEN=*** PULL_REQUEST_ID=*** pronto run -f github_pr
[code]

[code]

[2015-03-11 00:57] gdumitrescu opened #73 "Add option to use local .jshintrc file"
Would it be possible to enable the option to run pronto-jshint against a local .jshintrc configuration
`bundle exec pronto run --config .jshintrc`?

Thanks,
Gabriel

[2015-03-11 15:39] jeroenj commented on #59
I'd say that this can be closed since Gitorious is getting shut down by the end of May: https://about.gitlab.com/2015/03/03/gitlab-acquires-gitorious/.

[2015-03-11 15:51] mmozuras commented on #59
@jeroenj :+1:

[2015-03-11 15:51] #59 closed

[2015-03-16 10:22] siebertm opened #76 "Problem when handling submodule changes"
I have a repository with certain submodules. When I let pronto review a commit which changes a submodule, I get an error:

[code]

What I think is happening is that pronto is not checking if the changed items are files or not (=> submodules are directories)

[2015-03-19 09:31] mmozuras commented on #73
Sure. But I think that it would better if it would just default to that file if it exists. `pronto` itself doesn't need to be changed, just [pronto-jshint](https://github.com/mmozuras/pronto-jshint).

[2015-03-19 15:39] #73 closed

[2015-03-31 10:03] jeroenj opened #78 "pronto-poper breaks GitHub and GitLab formatters"
Since poper's message have no line number attached the uniqueness check breaks on both formatters (I did not check any other formatters, but text works).

It's basically because this line of code:

[code]

Because `message.line` is nil we get an undefined method exception for `new_lineno`.

[2015-04-12 15:51] eliotsykes commented on #65
Apologies if this isn't related. I've had pronto report nothing when I'm on a branch that has uncommitted changes, or if there are little or no changes from master. Specifying one of these options helped:

[code]

[2015-04-14 15:28] eliotsykes opened #80 "pronto-brakeman & pronto-rails_best_practices run order inconsistencies"
Firstly, thanks @mmozuras for pronto. I'm trialling using it to help with teaching Rails, when reviewing student projects.

The running order of pronto-brakeman and pronto-rails_best_practices can affect what issues are detected.

For a Rails 4.2.0 app I'm trying this out with, here are the total counts of issues found when the runners are run alone and together in both orders:

| Command | Number

[2015-04-15 08:00] eliotsykes commented on #80
I've edited the above issue report to remove the `config/routes.rb` references as that part is an issue with `rails_best_practices`. The rest of the issue is still valid, particularly the `Sexp` monkey patch conflicts.

[2015-06-03 08:42] slapsys opened #81 "Pronto throws error with rugged-0.22.2"
[code]

Uninstalling rugged-0.22.2 and using rugged-0.22.1b1 solved the issue

[2015-06-13 05:44] mmozuras commented on #55
Since there were no more issues of it for half a year, closing this. Unless someone will report it again, I gotta assume it was fixed with later versions of `rugged`.

[2015-06-13 05:44] #55 closed

[2015-06-13 05:46] mmozuras commented on #66
@dankohn is it still an issue?

[2015-06-13 05:48] #81 closed

[2015-06-15 16:45] dankohn commented on #66
It turns out it was an issue with https://github.com/seattlerb/ruby_parser/issues/180 which was being used by brakeman. All set now. Thanks!

[2015-06-15 16:45] #66 closed

[2015-06-23 19:01] carlosgoce commented on #45
I was on my way to do it, I will love to have this too. But I was reading the Bitbucket's REST API documentation and I couldn't find an endpoint to send a new comment on a pull request.

I think that is not possible to do that at this time. If someone knows hows to do it...

[2015-06-24 12:46] hron84 commented on #45
@carlosgoce It is hidden in the REST API Browser.

POST https://bitbucket.org/api/1.0/repositories/{owner}/{repo-slug}/pullrequests/{id}/comments/

Required param: content

[2015-06-26 20:45] dankohn opened #83 "Add support for two formatters"
On our continuous integration server, I would like to be able to run:
[code]
so that I can both get errors posted into Github and to show up in the CI logs. However, `formatter` currently takes a string instead of an array: https://github.com/mmozuras/pronto/blob/master/lib/pronto/cli.rb#L39

[2015-07-13 18:24] veverkap commented on #81
What is the solution for this?  Newest version of rugged works, but pronto is referencing older version.

[2015-07-20 20:09] dankohn commented on #83
In case others have the same desire, here is some bash cleverness for a workaround making use of parallelism, using YML syntax for CircleCI:
[code]

[2015-08-15 23:33] fernandopso opened #85 "Review of pull-requests from everyone in an organization"
Hello @mmozuras ,

I spent time getting to know the pronto gem and after some tests on pull-requests on github, I realized that the gem can analyze only my own pull-requests (please correct me if I'm wrong), but I was wondering why the gem does not apply in other pull-requests?

I think it would be very relevant if I could analyze a pull-request from another person that work in the same organizati

[2015-08-27 07:30] tansaku opened #88 "Running Pronto on Pull requests coming from forked repos"
I'm trying to get pronto to submit comments on a pull request coming from a forked repo, but I can't seem to get anything to work:

[code]

Here's the pull request that I want to get commented: https://github.com/makersacademy/airport_challenge/pull/133

Having tried the above on the upstream repo (makersacademy/airport_challenge), I guessed (by repeatedly watching the animated gif) that I needed

[2015-08-27 07:44] giedriusr commented on #88
There is a new PR regarding forks: https://github.com/mmozuras/pronto/pull/86

[2015-08-30 02:53] #85 closed

[2015-08-31 09:10] jeroenj opened #89 "fasterer runner"
It might be interesting to have a runner for [fasterer](https://github.com/DamirSvrtan/fasterer). I might give a shot at it but I guess you will be feaster at it. :)

[2015-09-05 20:13] mmozuras commented on #85
@fernandopso it shouldn't be limited in that way. Were you able to figure it out and subsequently closed the issue?

[2015-09-07 04:48] lunks commented on #76
I'm getting the same error.

[2015-09-11 13:00] fabiosammy opened #95 "certificate verify failed (OpenSSL::SSL::SSLError)"
When i need run pronto to my own gitlab with ssl self-signed, i get:
`/home/gitlab-runner/.rvm/rubies/ruby-2.1.7/lib/ruby/2.1.0/net/http.rb:923:in connect: SSL_connect returned=1 errno=0 state=SSLv3 read server certificate B: certificate verify failed (OpenSSL::SSL::SSLError)`

How i can workaround on this?

Stack trace
[code]

[2015-09-11 13:02] fabiosammy commented on #89
+1

[2015-09-11 15:00] fabiosammy commented on #95
Sorry,my fault, following the trace again, the "gitlab" gem get this, so, in gitlab source gem, i see:
https://github.com/narkoz/gitlab#cli

Then i add env `GITLAB_API_HTTPARTY_OPTIONS="{verify: false}"`, but it's only on new gitlab gem version, and not on 3.4.0.

:cry:

[2015-09-20 08:51] mmozuras commented on #39
PRs from @jhass fix this. Currently `unreleased` in `master`.

[2015-09-20 08:51] #39 closed

[2015-09-20 09:18] mmozuras commented on #95
@fabiosammy do I understand correctly: this issue can be closed when next version of `gitlab` will be released with [this commit](https://github.com/NARKOZ/gitlab/commit/a2360f08019632c2660dbbc6753bd3094286b993)?

[2015-09-20 13:04] mmozuras commented on #89
Done: https://rubygems.org/gems/pronto-fasterer :smile:

[2015-09-20 13:04] #89 closed

[2015-09-20 15:09] fabiosammy commented on #95
yeap!

[2015-09-20 16:42] mmozuras commented on #95
@fabiosammy as it's not a Pronto bug, closing this :smile:

[2015-09-20 16:42] #95 closed

[2015-09-21 08:21] jeroenj commented on #89
Awesome, thanks. 😃

I'll add it to our list of runners. :)

[2015-09-21 08:50] mmozuras commented on #89
@jeroenj do tell if you'll find any issues :smile:

[2015-09-23 20:26] johanoskarsson opened #96 "Add "shipit" comment to github pull req if no messages were produced"
Our workflow requires a shipit/LGTM/+1 type comment from anyone involved in a pull request. It would be handy to have pronto add such a message to the github pull request if no issues were found during the last run.

[2015-09-24 20:34] bhardin opened #97 "`gem install pronto` not installing"
Any help here? Looks like a problem with Rugged.

[code]

[2015-09-25 04:52] giedriusr commented on #97
If you use homebrew, run: `brew install cmake`

[2015-09-25 05:41] mmozuras commented on #97
@giedriusr :+1:

@bhardin there's some additional documentation here:
https://github.com/libgit2/rugged#install

[2015-09-25 22:28] #97 closed

[2015-10-02 21:49] johanoskarsson opened #99 "commit_id is not part of the pull request"
Running pronto (installed from master at c88e2b017e011677b9f13710ccc46b99adac1329) causes the following error when using the github_pr formatter. This is reproducible and 0.4.3 of the gem does not have this behaviour. Curiously the 15609e8fb17fffbf2d51958bf5df6c57160fd281 commit sha below is not part of my local repository (git show 156... throws an error), but viewing it on github shows it as a m

[2015-10-04 13:19] mmozuras commented on #99
@johanoskarsson should be fixed in the next release (coming to you this month :smile:):

https://github.com/mmozuras/pronto/blob/master/CHANGELOG.md#bugs-fixed

Please reopen if it's not :bow:

[2015-10-04 13:19] #99 closed

[2015-10-11 19:13] mmozuras commented on #96
@johanoskarsson have you considered these alternatives:

* GitHub provides a [Status API](https://developer.github.com/v3/repos/statuses/). Most CI servers (like Jenkins) have plugins that make use of it. You can even have multiple builds with multiple statuses (a separate build for tests/pronto/js-tests). Pronto has an `--exit-code` option, which could be used to signal that a build has failed.
*

[2015-10-14 22:21] edubs5 opened #102 "Non-zero exit code when it should be zero"
I'm running pronto-rubocop with Gitlab CI.  It's returning a failing exit code even when Pronto is not finding any errors.  Any idea on what is happening?  I can't figure out what that code status means, where does the exit code come from?

    0 Pronto messages posted to GitLab

    ERROR: Build failed with: exit code 36

[2015-10-18 16:28] mmozuras commented on #102
@edubs5 are you sure it's coming from Pronto? That seems unlikely.

[2015-10-20 15:20] edubs5 commented on #102
@mmozuras Thanks, confirmed that it is not related to Pronto.  I looked into it some more, we have a couple different repos and they were not all synced with the main repo's master branch, that's why we got back results that we were not expecting.

[2015-10-20 15:20] #102 closed

[2015-10-24 18:34] mmozuras commented on #96
Closing.

Please reopen if it's still an issue :smile: :bow:.

[2015-10-24 18:34] #96 closed

[2015-10-25 03:17] dankohn opened #103 "CircleCI shallow clone issue"
If you're getting an `Object not found - no matching loose object` error like the following on CircleCI or similar continuous integration servers, it may be caused by them running a shallow clone:
[code]
The solution is do an unshallow git fetch before running pronto. For example, use the following syntax for `circle.yml`:
[code]

[2015-10-25 03:17] #103 closed

[2015-10-25 20:00] mmozuras commented on #88
This comment tells the story: https://github.com/mmozuras/pronto/pull/86#issuecomment-150963747

@tansaku thanks for bringing this up! :bow: :smile:

[2015-10-25 20:00] #88 closed

[2015-10-25 20:02] mmozuras commented on #71
Fixed (will be released with `0.5.0`).

[2015-10-25 20:02] #71 closed

[2015-10-25 20:04] mmozuras commented on #78
Fixed (will be released with 0.5.0).

[2015-10-25 20:04] #78 closed

[2015-10-25 20:05] #69 closed

[2015-10-25 20:06] mmozuras commented on #68
@simicic maybe it's this issue: https://github.com/mmozuras/pronto/issues/103 ?

[2015-10-26 07:14] jeromedalbert opened #105 "Make pronto able to run as a micro server for the GitHub integration"
The idea would be to have commands like `rackup` (with a `config.ru` file) or `pronto server` or `pronto watch`. This micro server would listen to Github webhooks when PR events happen, and analyze the PR.

This would allow people to easily have their own free version of https://houndci.com by deploying it to a free Heroku dyno or any other server. This also has the advantage of being independent

[2015-10-26 08:56] jeroenj commented on #78
Great. Thanks! :+1:

[2015-10-28 18:50] misteral opened #106 "GitLab PR formatter"
Messages for PR, not for commit.
Any plans for this?

[2015-11-03 08:24] hannesfostie commented on #106
This exists already afaik, look for `PULL_REQUEST_ID` in the readme :-)

[2015-11-03 08:38] mmozuras commented on #106
@hannesfostie only exists for `GitHub`.

Don't use GitLab myself, but would assume that using GitHub PR Formatter as a starting point, would make it easy to implement this one too :smile:

[2015-11-03 08:45] hannesfostie commented on #106
Apologies, I misread!

[2015-11-03 08:47] 007lva commented on #106
It will be great.

[2015-11-08 20:53] #57 closed

[2015-11-12 09:29] spajus opened #109 "commit_id is not part of the pull request"
When running Pronto via Jenkins with github_pr formatter, I often get this:

[code]

[2015-11-12 09:37] mmozuras commented on #109
@spajus what version of Pronto are you running?

[2015-11-12 09:59] spajus commented on #109
@mmozuras

[code]

[2015-11-12 10:14] mmozuras commented on #109
@spajus could you try `0.5.2`?

https://github.com/mmozuras/pronto/issues/99

[2015-11-12 10:16] mmozuras commented on #99
@johanoskarsson did updating to the newest version help?

[2015-11-12 10:19] mmozuras commented on #109
@spajus  when running from forks, also add:

[code]

to `.pronto.yml` or `GITHUB_SLUG` env var. I'm still trying to figure out how document it best, make this scenario work better.

[2015-11-12 10:23] spajus commented on #109
@mmozuras `your/repo` being main upstream?

[2015-11-12 10:30] mmozuras commented on #109
@spajus most of the time, yes. Aka the one that you have Pull Requests created on.

[2015-11-12 10:38] spajus commented on #109
@mmozuras after adding GITHUB_SLUG and upgrading to 0.5.2 I get many new errors:

[code]

It also seems that it was trying to add comments on code that is not related to pull request.

[2015-11-12 10:52] mmozuras commented on #109
@spajus hm, ok. Could you give me a description on how to reproduce this?

[2015-11-12 10:56] spajus commented on #109
@mmozuras good question... my setup:

- Rails project on github, one "upstream" and several people working with forks and making PRs to that upstream repo.
- Jenkins with GHPRB plugin building pull requests (recent versions, usually up to date)
- Running `RAILS_ENV=test bundle exec pronto run -f github_pr -c origin/master` on those pull requests

I just noticed that wiping out jenkins workspace fi

[2015-11-12 16:27] johanoskarsson commented on #99
It did indeed! Thanks for the fix.

[2015-11-18 08:10] spajus commented on #109
Well, a working workaround for this issue is to have "Delete workspace before build starts" enabled in your jenkins job. Otherwise something like force pushing or rebasing kills pronto.

[2015-11-18 08:14] mmozuras commented on #109
@spajus weird. I'm not intimately familiar with Jenkins workspaces (or your setup, obviously). Are there any actions with `git` repo that are not performed, when workspace is not deleted? Could `git` repo be out of sync when workspace is not deleted?

[2015-11-18 08:16] spajus commented on #109
@mmozuras yes, it could be that GitHub Pull Request Builder Jenkins plugin does something messy with git if workspace is kept for long enough, while wiping out workspace does a fresh git clone on each build.

[2015-11-18 17:12] konradstrack opened #111 "pronto doesn't analyse staged changes"
I've been trying to execute pronto in a pre-commit hook, and I ended up with the following issue.

Suppose I have a file with inorrect indentation: in this case it's `Gemfile`. I stage it with `git add Gemfile` and execute `pronto run --index`. No issues are reported.

Now, if I do `git reset Gemfile`, `pronto run --index` will report the issues correctly, e.g.:

[code]

I tested a bit more, and s

[2015-11-18 18:41] mmozuras commented on #111
@konradstrack it seems to be a bug introduced in [rugged](https://github.com/libgit2/rugged). I've created an issue [here](https://github.com/mmozuras/pronto/issues/111).

[2015-11-18 18:42] mmozuras commented on #109
@spajus marking it as `wontfix` then :smile:

[2015-11-18 18:42] #109 closed

[2015-11-18 20:25] mmozuras commented on #111
Changing this from `bug` to `enhancement`. You can follow the discussion here:

https://github.com/libgit2/rugged/issues/548

Will make it part of the next release, because an integration with [overcommit](https://github.com/brigade/overcommit) would be great.

[2015-11-20 12:14] skateman opened #113 "Provide the adequate runner class in a message"
Hi!

I need to have the runner class name inside each report message for a personal project. The simplest solution is to add an extra runner argument to the constructor of the `Message` class, but this requires to adjust all the existing runners. An other (very ugly) solution is to somehow [parse the backtrace](https://github.com/kami-zh/caller_class) in the `Message`'s constructor and get the cal

[2015-11-21 15:05] mmozuras commented on #113
I think that's the way to go and I would accept a PR :smile:.

[2015-11-22 10:29] mmozuras commented on #33
@simicic @spajus you can now also specify excluded files in `.pronto.yml`.

I've considered it, but I decided to not make the requested feature part of Pronto.

[2015-11-22 10:29] #33 closed

[2015-11-28 06:31] D-system commented on #45
@carlosgoce I found that resource. Didn't work ?
https://confluence.atlassian.com/bitbucket/pullrequests-resource-1-0-296095210.html#pullrequestsResource1.0-POSTanewcomment

[2015-12-01 13:54] Schwad opened #114 "Runner Issues"
Following runners dependant on older versions of pronto so cannot run them in whole package with latest pronto. Included are links to relevant files.

[pronto/reek](https://github.com/mmozuras/pronto-reek/blob/master/pronto-reek.gemspec)
[pronto/spell](https://github.com/mmozuras/pronto-spell/blob/master/pronto-spell.gemspec)
[pronto/fasterer](https://github.com/mmozuras/pronto-fasterer/blob/maste

[2015-12-02 08:53] mmozuras commented on #114
@Schwad when releasing newest version of Pronto, I missed `spell` and `fasterer`, failing to make them compatible with 0.5.0 :bow:.

Done now and released :smile:.

[2015-12-02 08:53] #114 closed

[2015-12-02 09:18] Schwad commented on #114
Sweet! Glad to know I wasn't crazy, will be adding those runners to my application now, thanks! :D :+1:

[2015-12-08 16:43] bigtunacan opened #117 ".pronto.yml in Rails project?"
My `.pronto.yml` file does not appear to get loaded.  I have tried putting in both my Rails project root directory as well as within the config sub-directory.  Right now I am only trying to ignore migration files so my .pronto.yml file looks as follows

    all:
      exclude: db/migrate/*

[2015-12-08 19:14] bigtunacan commented on #117
Realized this was due to being on an older version of the gem.

[2015-12-08 19:14] #117 closed

[2015-12-10 07:22] eprislac opened #118 "Can't install on JRuby due to C Extensions dependency"
Any possibility of dropping the dependency on rugged in favor of a pure-ruby Git library?

[2015-12-10 07:37] mmozuras commented on #118
@eprislac I have no intention to work on it myself. But I would accept contributions, if performance is not significantly negatively impacted.

[2015-12-10 19:55] eprislac commented on #118
@mmozuras the projects I currently work on use JRuby exclusively, with no hope of switching. I'm going to try running pronto on PRs from a different ruby, but may end up forking this to use a different Git library if I can't get that working. Thanks for the response!

[2015-12-10 19:55] #118 closed

[2015-12-22 16:00] bigtunacan opened #120 "Timeout option"
It would be great if there was an option to pass a timeout that would cause Pronto to automatically quit after a specified time.

I found times where running pronto will run for hours before completing when there is a large enough delta between the specified commit and HEAD.  I use this in an automated build/test suite on Jenkins to do code analysis of recent change, but then the entire test suite

[2015-12-22 16:07] mmozuras commented on #120
@bigtunacan have you considered using [timeout](http://man7.org/linux/man-pages/man1/timeout.1.html) from [coreutils](http://www.gnu.org/software/coreutils/coreutils.html)? Can be installed on Mac with [homebrew](https://github.com/Homebrew/homebrew).

Could you give me more info when these situations happen? Just want to understand if that's possible to avoid :smile:

[2016-01-04 19:23] dwradcliffe commented on #113
I need this also. Any progress?

[2016-01-04 19:38] skateman commented on #113
Umm, holidays :) I'll do it tomorrow ;)

[2016-01-04 19:56] dwradcliffe commented on #113
Awesome :)

[2016-01-04 20:07] dwradcliffe opened #121 "GitHub status formatter"
It would be really great if we could add custom statuses to a GitHub PR, one for each runner. This would make it much easier to see what failed at a glance, instead of lumping everything into one status.

I've started looking at the code to see what needs to change to make this happen.

This would depend on #113 and #83

[2016-01-04 20:20] dwradcliffe commented on #121
Here's an example:

![wip pronto by dwradcliffe](https://cloud.githubusercontent.com/assets/118850/12099473/bbb98164-b2f6-11e5-9fb6-871258cf1a6d.png)

[2016-01-05 07:14] mmozuras commented on #121
@dwradcliffe good idea!

Without making any changes, today this can be achieved by running Pronto multiple times, each time specifying a single runner. Not ideal, I know :smile:

[2016-01-05 13:23] dwradcliffe commented on #121
Yep, that was my plan until #83 is done. Still need #113 for my implementation to work.

[2016-01-27 21:46] JohnBat26 opened #125 "gitlab integration: undefined method `commit_line' for nil:NilClass (NoMethodError)"
Hello.

When I run command:

[code]

I get next error:

[code]

[2016-02-10 20:13] tscheffe opened #128 "ESLint Support Desired"
I'm looking for a `pronto-eslint`. I see that there's a [pronto-jshint](https://github.com/mmozuras/pronto-jshint), I imagine that it wouldn't be too much difference.

I'd like to get `eslint` into the `pronto` ecosystem so the tools I'm building with it are compatible with both the front and backend projects at my workplace.

[2016-02-15 19:12] tscheffe opened #129 "Text Formatter with Color"
Currently the text formatter doesn't output in color but it would look much nicer if it did.

Given the standard (--colored) config, would that be an acceptable feature?

The way [Rubocop does it](https://github.com/bbatsov/rubocop/blob/master/lib/rubocop/formatter/simple_text_formatter.rb) using [Rainbow](https://github.com/sickill/rainbow) seems like a good pattern to follow, it wouldn't be that

[2016-02-16 20:56] mmozuras commented on #129
:+1:, sounds like a great idea, would accept a PR for it!

[2016-02-16 20:57] mmozuras commented on #128
@tscheffe will have this feature request in mind. Do tell if you'll decide to implement it yourself :smile:

[2016-02-16 20:58] #113 closed

[2016-02-18 18:35] tscheffe commented on #129
:+1: I'm super interested so I'm tentatively planning to take a stab at it sometime.

[2016-02-28 15:02] #18 closed

[2016-02-28 15:04] mmozuras commented on #20
https://github.com/mmozuras/pronto/pull/104

[2016-02-28 15:04] #20 closed

[2016-02-28 16:02] mmozuras commented on #128
Done: https://github.com/mmozuras/pronto-eslint :smile:

[2016-02-28 16:02] #128 closed

[2016-02-28 16:06] dankohn commented on #128
Awesome! Thank you.

--
Dan Kohn <mailto:dan@dankohn.com>
tel:+1-415-233-1000

On Sun, Feb 28, 2016 at 11:02 AM, Mindaugas Mozūras <
notifications@github.com> wrote:

[2016-02-28 16:24] mmozuras commented on #106
@jeroenj maybe you'll take a stab at this? :smile:

[2016-02-28 16:24] mmozuras commented on #120
@bigtunacan ping :smile:

[2016-02-28 16:54] bigtunacan commented on #120
@mmozuras Sorry; somehow I missed the notification on this originally.  I'll take a look at that as an option.  Thanks.

[2016-02-28 17:16] #83 closed

[2016-02-28 17:17] mmozuras commented on #83
@dankohn in `master`, will release with the next version.

Will work like this:

`pronto run -f github text`

[2016-02-28 18:18] dankohn commented on #83
Excellent, think of the all the cycles that won't be wasted on running pronto twice!

[2016-02-29 09:53] jeroenj commented on #106
I just had a quick look and from what I can tell it is not supported in [GitLab's API](https://github.com/gitlabhq/gitlabhq/blob/master/doc/api/notes.md#merge-requests) right now. I had a quick look at the API code and it isn't in there. So adding this feature would involve writing the necessary code for GitLab, the api wrapper and then pronto.

I don't have a lot of free time on my hands right no

[2016-02-29 17:13] tscheffe commented on #128
:+1: :smile: :+1: :smile: :+1: :smile_cat:

[2016-03-01 20:31] MOZGIII commented on #45
:+1:

[2016-03-03 18:47] Donavan opened #130 "Should handle plugin crashes gracefully"
Currently if a plugin explodes while running pronto just silently exits.  It would be nice if it just spit out "plugin-X has died with the following exception:" (and kept going)

[2016-03-07 18:16] ptarjan opened #131 "pronto crashes with simple command"
I just installed `pronto` to try it, and when running I get:

[code]

And the same thing when trying the second command

[code]

These work:

[code]

[code]

[2016-03-13 20:52] mmozuras commented on #131
@ptarjan weird. Since it raises a `Rugged` error (a git library used by `pronto`), could you try running it on a different repo and report the results?

[2016-03-14 10:21] donni106 opened #132 "running pronto fails with ruby 2.3.0"
No problems running pronto with older ruby versions.
When trying to run pronto in ruby 2.3.0 project, it fails with:

.../.rvm/rubies/ruby-2.3.0/lib/ruby/2.3.0/rubygems/specification.rb:2158:in `method_missing': undefined method `this' for #<Gem::Specification:0x3fc6b54aa8d8 pronto-0.6.0> (NoMethodError)
	from ...rvm/rubies/ruby-2.3.0/lib/ruby/2.3.0/rubygems/specification.rb:1057:in `find_active_s

[2016-03-14 11:21] donni106 commented on #132
https://github.com/remomueller/documentation/issues/7 this issues the same error and the result is to downgrade rubygems

[2016-03-15 06:21] shalecraig commented on #131
I work with and (probably) have a similar machine to @ptarjan, but ran into the same issue.

Running on this repo, it succeeds:
[code]

What's the next thing I should look at?

[2016-03-15 07:12] shalecraig commented on #131
I resolved this for myself:
- Ran `git fsck --full --strict` on the repo. Other than dangling commits, it reported no issues.
- Looks like `pronto run` raises somewhere in [this method](https://github.com/libgit2/rugged/blob/7d00d841b689115481b5296e2bd99887cc5f0b75/ext/rugged/rugged_diff.c#L460)
- `Rugged::RegexError` maps to [`GITERR_REGEX`](https://github.com/libgit2/rugged/blob/6883a55b0d415a10

[2016-03-21 19:34] ragesoss opened #133 "GitHub commenting with many issues triggers abuse filtering"
I tried out pronto from my command line, and it crashed in the middle of leaving comments on a GitHub PR:

[code]

I think was making comments at a little under one per second, and it made 36 comments before triggering the filter: https://github.com/WikiEducationFoundation/WikiEduDashboard/pull/712

[2016-03-22 10:44] nbekirov commented on #129
@mmozuras, @tscheffe Is anyone currently working on this? I've started playing around and have some progress that can easily be turned into a PR if you don't mind. :)

[2016-03-22 16:02] tscheffe commented on #129
I haven't been. Though I would love to see a PR!

I'd be glad to review it and provide feedback if you open one!
On Mar 22, 2016 5:44 AM, "Nikolay Bekirov" <notifications@github.com> wrote:

[2016-03-22 18:35] nbekirov commented on #129
@tscheffe Thanks!

I'll ping you when the PR is ready. :smile:

[2016-03-22 21:11] nbekirov commented on #129
@mmozuras @tscheffe

Please give me some feedback on the PR I've made! :sleepy:

[2016-03-25 08:46] nicka commented on #45
@carlosgoce Did you already write something? Would love to help out. Our team is using BitBucket on a day to day basis.

[2016-03-26 18:54] mmozuras commented on #45
Merged what @nicka have done [here](https://github.com/mmozuras/pronto/pull/135). It will be the major feature of the next release :clap:

[2016-03-26 18:54] #45 closed

[2016-03-29 01:04] davejlong opened #136 "Changing the exit code"
To start off, it's handy having the exit code option in the CLI. I'm working on writing Pronto into my Git pre-commit hook that I use across most projects.

Basing exit codes on how many errors were found does break [Linux standards for exit codes](http://tldp.org/LDP/abs/html/exitcodes.html#EXITCODESREF) though. It may not be a huge issue, but if you build Pronto into a service script for SystemD

[2016-03-30 19:08] mmozuras commented on #136
@davejlong :+1:, good points.

Would you create a pull request that expands documentation?

[2016-03-31 19:03] gkop commented on #105
Thanks for creating this issue and keeping it open.

I was disappointed to discover that CircleCI doesn't very well support running Pronto inline because it doesn't allow you to wait until a PR is opened to begin a build against a branch on your origin (cf. [here](https://discuss.circleci.com/t/feature-request-option-to-disable-builds-on-commit-pushes/682/11), [here](https://discuss.circleci.com/t

[2016-04-03 13:24] mmozuras commented on #132
@donni106 thanks for reporting, as it's not a `pronto` issue, closing it 😄

[2016-04-03 13:24] #132 closed

[2016-04-03 14:13] mmozuras commented on #131
@shalecraig @ptarjan not sure if that's something that should be handled with `pronto.` But could either of you create a repo on GitHub, which could be used to reproduce the issue?

[2016-04-03 14:16] mmozuras commented on #120
I think that it's not something that should be solved in `pronto`.

Feel free to reopen, if you have a different opinion 😄

[2016-04-03 14:16] #120 closed

[2016-04-03 14:19] bigtunacan commented on #120
@mmozuras no worries the timeout option you suggested works fine I'm using that.  Sorry I didn't update the issue.

[2016-04-05 07:50] #129 closed

[2016-04-07 04:53] kavink opened #139 "How to write a pronto runner ?"
I cannot seem to find docs how to write a new pronto runner and how to run/test it locally. Would be great if i can get some help.

Basically i want to see if i can write a pronto which can look at change and comment if its allowed or not.

[2016-04-07 20:52] tubbo opened #140 "Integration with Bitbucket Server (formerly Atlassian Stash)"
I noticed that there's an integration for cloud-hosted Bitbucket, but what about Bitbucket Server (formerly Stash)? My company uses Stash, and it seems like if we can get things working this tool will be very helpful for our code review process. Has there been any work done on this prior to now so I can take a look? I have [a branch going on my fork](https://github.com/tubbo/pronto/tree/bitbucket-

[2016-04-08 15:32] mknapik commented on #121
What is the status of this enhancement?

[2016-04-11 08:36] mknapik commented on #121
@mmozuras @dwradcliffe I'm willing to submit PR if nobody has started working on this feature.

[2016-04-11 10:47] mmozuras commented on #121
@mknapik I haven't started working on it 😄

[2016-04-14 14:46] sebastianzillessen opened #145 "Issues not showing in Gitlab"
Hi,

I'm trying this gem out right now because I would like to integrate it in my project at work. We use gitlab 8.5.5. My config file looks like this:

[code]

If I run it locally I get:

[code]
If I run it to the remote I get:
[code]

Unfortunately the commit comments don't show up on the server. Is there anyway how I could debug this?

Thanks!

[2016-04-14 22:27] kt0 opened #146 "Gitlab slug should be gitlab id and not repo/project"
In the example config for gitlab in README it uses `repo/project` style, we did just like that and gitlab was raising 500 error (it was actually 404 in the Gitlab logs!), after reading Gitlab api docs it seems that it should be [project id](https://github.com/gitlabhq/gitlabhq/blob/master/doc/api/commits.md#post-comment-to-commit) (and it's absolutely hard to figure out what is the id of a project

[2016-04-14 22:32] kt0 commented on #145
@sebastianzillessen It seems you haven't provided `slug` for gitlab.

We faced some other similar issues with gitlab formatter, it turned out that you should use project id for slug (see #146)

[2016-04-14 22:50] kt0 opened #147 "Is there any way to combine errors of same line in one comment?"
Currently pronto creates a comment for each error, even if all those errors are on the same line, it'll be nice if those comments combined together as just one comment.

P.S. I've read the `Pronto::Formatters:: GitlabFormatter` code and it seems if we split commit message by line (or maybe bullet points) we can get the result fairly easy, if it's ok I can make a pull request for it.

P.S 2 IDK abo

[2016-04-15 05:16] sebastianzillessen commented on #145
I actually analyzed the code of the GitLab gem and could figure out where the issue came from: our server is enforcing https and I missed that in the configuration. For some reason the GitLab gem handled the GET requests correctly, but the PUT request to create a new comment failed because the server returned an 302 redirect error code.
As soon as I changed it to https everything worked correctly,

[2016-04-15 05:16] #145 closed

[2016-04-16 16:42] mmozuras commented on #145
@sebastianzillessen weird that it didn't raise any errors. Is that an issue with GitLab gem?

[2016-04-16 16:43] mmozuras commented on #146
@kt0 so, it's an issue with our documentation, right? Or is there an alternative we could use?

[2016-04-16 17:08] kt0 commented on #146
@mmozuras I think it's an issue with documentation, we have used `user/repo` in slug, and didn't work, after changing it to project_id worked with no errors.

[2016-04-16 17:22] sebastianzillessen commented on #145
@mmozuras Yeah, it seems to be an error with the gitlab gem. I will investigate it again and create an issue / pull request there.

[2016-04-16 17:38] mmozuras commented on #145
@sebastianzillessen cool, thanks 🙇 👍

[2016-04-16 17:55] #146 closed

[2016-04-16 17:56] mmozuras commented on #146
@kt0 I've changed the example in README. That (and existence of this issue) should be enough to help prevent future problems 😄

Thanks! 🙇 👍

[2016-04-16 18:13] mmozuras commented on #147
@kt0 sounds like a good idea 👍. I think that it should be an option for all GitHub/GitLab/Bitbucket formatters.

[2016-04-16 18:21] mmozuras commented on #140
@tubbo does Bitbucket server requires a separate integration or can just the bitbucket `web_endpoint` be changed in config?

[2016-04-17 19:26] #121 closed

[2016-04-18 14:32] tubbo commented on #140
I've been looking it over the last few days and it seems like the Stash API is just different enough from the Bitbucket API to make this not work. Tried running it with my own username and password but couldn't get it to post any comments.

[2016-04-20 12:43] gingerlime opened #149 "422 - Validation Failed"
Pronto looks awesome. I'd love to use it, but am hitting a small problem trying to push comments to github.

Here's my yml:

[code]

I'm running

[code]

And it's showing these errors (across several files):

[code]

Any clue why it's returning this error? I think the token is set up correctly, but maybe I missed something.

[2016-04-21 19:19] nbekirov commented on #80
Hey @eliotsykes!

My investigation is definitely pointing in the same direction as `Sexp` is so ubiquitous in  [brakeman](https://github.com/presidentbeef/brakeman/blob/0b618fdd1e37683df67844e31e554c347f9aed3c/lib/ruby_parser/bm_sexp.rb#L4), [ruby_parser](https://github.com/seattlerb/ruby_parser), [code_analyzer](https://github.com/flyerhzm/code_analyzer/blob/41d088e49c716fa32ced0cbb2e2e347957042f

[2016-04-26 09:02] eliotsykes commented on #80
Hi @nbekirov - thanks for looking into this. Your forking plan looks promising.

[2016-04-26 22:25] doomspork commented on #23
I have now run into this issue myself.  Using the `text` formatter works but as soon as I add `github_pr` to the mix, I get the `/usr/lib/ruby/2.2.0/net/http/response.rb:355:in 'initialize': stream error (Zlib::StreamError)` error.

@mmozuras what do you need to help narrow this down?

[2016-04-26 22:39] doomspork commented on #23
The issue only seems to show up when using the `github_pr` formatter.  I tried `github` and it worked perfectly.

[2016-05-03 21:14] doomspork commented on #23
I haven't had any luck overcoming this, @mmozuras do you have any suggestions?  I'd be happy to help you troubleshoot this if you've got any suggestions on where to start.

[2016-05-06 22:54] doomspork commented on #147
Hi @kt0 and @mmozuras, I recently did this on my own fork and was going to see if anyone else was interested:  https://github.com/doomspork/pronto/tree/consolidated-messaging

When there are multiple comments I combine them into one and add checkboxes but I'm open to whatever.  Let me know what you think and I can open a PR.

Here it is in action:

![image](https://cloud.githubusercontent.com/asse

[2016-05-08 13:15] mmozuras commented on #147
@doomspork looks good, except not sure about checkboxes. How do you expect them to be used?

[2016-05-08 15:15] doomspork commented on #147
Howdy @mmozuras, no goal with the checkboxes at the moment.  I'm playing with better ways to display the multiple issues.  Just listing them in order wasn't very clear IMO:

[code]

I'd like to use a list of some sort so there is delineation between feedback, checkboxes were my most recent test 😀

[2016-05-13 19:37] doomspork commented on #147
@kt0 I've opened a pull request with my current implementation, your feedback is welcomed 😀

[2016-05-14 13:24] bolom opened #155 "Don't see any status on Github"
Hi

I have build a small CI who allow me to review my PR from a swift and ios projects.

https://github.com/LoboBot/heart

I don't see any status pushed on Github

https://github.com/LordAlexWorks/proactives/pull/1163

My script

https://github.com/LoboBot/heart/blob/master/review_pr.sh

Should i do something wrong ?

B

[2016-05-15 17:55] mmozuras commented on #155
@bolom which version of Pronto `0.6.0` are you using? `github_status` is currently available only on `master` (will be released soon).

[2016-05-15 19:49] mmozuras commented on #23
@doomspork if I could reproduce the issue, I would start by editing gem sources and logging what's happening as close to the issue as possible.

It seems to fail on this line:
`@inflate = Zlib::Inflate.new(32 + Zlib::MAX_WBITS)`
What happens when you `require 'zlib'` and try running this line in `irb`?

[2016-05-15 19:51] doomspork commented on #23
@mmozuras I haven't been able to reproduce this error since I refactored the code on my consolidate messaging branch 😧

[2016-05-15 19:51] mmozuras commented on #68
Assuming that it was #103 and closing.

[2016-05-15 19:51] #68 closed

[2016-06-06 18:49] edk opened #158 "github_status - any way to add details link?"
when using the new github_status formatter, it lists the number of warnings and fatal in the status, but without a details link:
` pronto/rubocop — Found 6 infos and 1 fatal.`

Is there a way to pass the url via param or ENV variable so that can be added?

[2016-06-10 12:29] Fodoj opened #160 "500 error on Gitlab.com"
When I am using pronto inside gitlab ci on gitlab.com I get this:

[code]

[2016-06-10 13:06] nbekirov commented on #160
Is is possible that this is related to #146?

[2016-06-14 16:47] mmozuras commented on #160
`v3/projects/FJCorp%2Fmkdev.app/repository/commits/`

@Fodoj looking at the provided stacktrace, what @nbekirov wrote is likely correct. You should specify project id instead of project slug in your configuration 😄

[2016-06-14 16:51] mmozuras commented on #158
GitHub does provide a way to do it via their API: https://developer.github.com/v3/repos/statuses/

@edk where could it lead to? CI job status page?

/cc @mknapik

[2016-06-14 17:12] mknapik commented on #158
My understanding is that `GithubStatusFormatter` is used together with `GithubPullRequestFormatter` so the comments are already in the PR.

[2016-06-14 17:13] edk commented on #158
k, will investigate.  thanks!

[2016-06-14 17:13] #158 closed

[2016-06-14 17:13] mknapik commented on #158
@edk Do you wish to have different URL for each pronto plugin?

[2016-06-18 15:55] hovancik opened #161 "pronto-flay-0.6.1/lib/pronto/flay.rb:8:in `run': undefined method `filter_files' for Flay:Class"
Hi there,

I recently run `bundle update` on one project and I am getting error when running `pronto run`

You can see full error here: https://travis-ci.org/DiscoverBSD/talks/jobs/138590329
PR is here: https://github.com/DiscoverBSD/talks/pull/33

[2016-06-19 20:01] mmozuras commented on #161
@hovancik thanks for reporting 👍

Should be fixed by https://github.com/mmozuras/pronto-flay/pull/11.

/cc @abinoam

[2016-06-20 19:56] mmozuras commented on #155
@mknapik consolidation (#154) is the last bigger feature I'll wait to be completed before a release 😄
Might be as early as next week, but it's not a promise 😄

[2016-06-20 21:28] mknapik commented on #155
Good luck then :-)

[2016-06-20 21:33] mknapik opened #163 "Pronto `after_success` step fails"
Have a look at the bottom of https://travis-ci.org/mmozuras/pronto/jobs/139025270 log.

[code]

Recently added configuration for running pronto for pronto project itself seems to stopped working.

[2016-07-03 09:16] hovancik commented on #161
@abinoam @mmozuras any news? No changes in there for 12 days

[2016-07-03 16:08] mmozuras commented on #161
@hovancik sorry, sometimes it takes for a while to get to reviewing everything 😄

Merged and released! Please re-open if the issue still persists

[2016-07-03 16:08] #161 closed

[2016-07-03 16:29] #160 closed

[2016-07-03 16:40] mmozuras commented on #163
Figured it out 😄
It's specific only to this particular PR. Reverting [this change](https://github.com/mmozuras/pronto/pull/154#discussion_r69393838) should make it work again.

@mknapik thanks for creating the issue 🙇

[2016-07-03 16:40] #163 closed

[2016-07-11 02:06] steverob commented on #149
Same here. THere were couple of comments that were successfully created though.

[2016-07-12 04:23] mur-wtag commented on #133
I'm having same issue.

[2016-07-13 08:42] TLmaK0 opened #164 "No comments on bitbucket pull request"
I have created a pull requests in bitbucket and then launch

 `bundle exec pronto run -f bitbucket_pr -c origin/master`

Pronto shows rubocop errors but nothing about comments in bitbucket. Any change to bitbucket section in .pronto.yml doesn't show any error.

If I launch it with github_pr formater then I get a "Octokit::InvalidRepository" which is correct.

this is my .pronto.yml

[code]

I'm us

[2016-07-15 01:27] steverob commented on #149
One thing I noticed was that this happened whenever pronto was trying to comment on lines that were not part of the diff of the PR in question.

Probably pronto is scanning the entire files that are under the changed list? @gingerlime

[2016-07-15 01:28] steverob commented on #147
@mmozuras can this be closed? :)

[2016-07-16 18:12] steverob opened #165 "Pronto not producing results when involved via the API"
This is what I get when I run `pronto run` from the command line in my project.
[code]

And when I go into my Rails console and try to use Pronto, this is what I get -
[code]

Is this the expected behavior? Is there anything else I need to do?

[2016-07-16 18:37] steverob commented on #165
Figured out that I had to remove the `require: false` from the runner gems I had included in my Gemfile. `Runner.runners` was giving `[]`.

Maybe we can mention this in the docs.

[2016-07-16 18:38] steverob commented on #165
Damn, my bad. It is indeed mentioned in the README :) Sorry about this. Closing this now.

[2016-07-16 18:38] #165 closed

[2016-07-17 07:44] steverob opened #166 "Overriding configurations / Inject Access token"
I have my GitHub access token & slug in the database. Is there a way to inject these configurations into the gem when it is initializing `Github` object?

[2016-07-18 00:28] SteveHanna opened #167 "Comments are lost on outdated diffs even when the comment is still relevant."
In a Github PR, if a line that has been commented by pronto is changed, the comment will become outdated and no longer visible when looking at the 'files changed'.

When pronto is deciding if it should add a comment to the PR, it checks if a comment already exists. If a comment already exists at that line, it won't add it.

However, It could also check if the code at that line has changed and deci

[2016-07-18 06:07] mpluta-airhelp opened #168 "pronto integration with teamcity"
Hello,
I have been wondering if anybody got similar problem when working with TC server. We are automatically building PR friom GH (https://blog.jetbrains.com/teamcity/2013/02/automatically-building-pull-requests-from-github-with-teamcity/). I specify `+:refs/pull/(*/merge)` in branch specification. And this creates sth called detached branch like this (note - this maybe not a full instruction):
[

[2016-07-20 19:08] mpluta-airhelp commented on #168
I managed to create a workaround build step like this:

[code]

It works, but just look at this script...

[2016-07-31 12:17] mmozuras commented on #167
@SteveHanna 👍

Fully support the idea. Ideally, GitHub would just provide `outdated` flag via their API that we could use. Alas, that's not the case and we'll need to do a bit more work to recognise outdated comments.

For reference: https://developer.github.com/v3/pulls/comments/#list-comments-on-a-pull-request

[2016-07-31 12:19] mmozuras commented on #166
@steverob

There are multiple ways to configure the access token for Pronto:
https://github.com/mmozuras/pronto#github-integration

@steverob you should never need to configure the slug. Could you expand on what you're trying to achieve? 😄

[2016-07-31 12:19] mmozuras commented on #147
@steverob yes, it can! 😄

[2016-07-31 12:19] #147 closed

[2016-08-01 20:43] doomspork commented on #149
@gingerlime @steverob are you making sure you set the `PULL_REQUEST_ID` ENV that the `github_pr` reporter relies on?  Without it (or if you state the wrong PR ID) you will get a similar error.

[2016-08-02 12:53] gingerlime commented on #149
@doomspork It's been a while, so I don't remember to be honest, but looking at the [README](https://github.com/mmozuras/pronto/blob/c36d3c8578ff23ec49b1dc60f758e7d88c156b8f/README.md#github-integration), and [CHANGELOG](https://github.com/mmozuras/pronto/blob/master/CHANGELOG.md) it seems like this parameter is optional(?)

[2016-08-03 06:00] steverob commented on #149
@doomspork yep, it happened even though the `PULL_REQUEST_ID` was set. Like I said, it keeps trying to comment on lines that are not even part of the PR's diff. Is that something that should not be happening by design?

[2016-08-03 18:27] doomspork commented on #149
I was just spit balling @steverob because I had gotten a similar issue when I omitted the PR ID.  @steverob is your error identical to @gingerlime's?  Could you paste it?

[2016-08-07 14:16] mmozuras commented on #155
Done 😄

[2016-08-07 14:16] #155 closed

[2016-08-07 16:37] samnang opened #170 "422 - Validation Failed When using GithubPullRequestFormatter"
Here is the output when I run:

[code]

When I look at Github API documentation, it seems `position` is required, but it seem it's missing when creating comment here https://github.com/mmozuras/pronto/blob/809ed1d50be1632fa2f3885eb13d1ff865158a0e/lib/pronto/formatter/git_formatter.rb#L66-L72

[2016-08-08 20:07] jhass opened #171 "undefined method body for nil in Github pull request formatter"
Probably a bug, at least improper error handling somewhere.
[code]

[2016-08-08 20:21] jhass commented on #171
Nvm, it looks like something ran in parallel, changing the working tree under the hood.

[2016-08-08 20:21] #171 closed

[2016-08-11 14:15] jglapa commented on #170
Getting the exact same error!

[2016-08-11 23:38] l0c0luke opened #172 "Gitlab comments on the line in question, or include line in the comment"
I am getting the comments on my commits, but they show up at the bottom of the commit. So I am aware there are errors but dont know where they are. for example ...

`Has the variable name 'notused123' (UncommunicativeVariableName)`

with nothing else. ideally this would be on the line in question like you can do manually. if that isnt possible, including the line numbers and file maybe?

[2016-08-11 23:46] l0c0luke commented on #172
OK, it seems it does do this. It might be me messing things up during my initial installation of pronto. i will close for now and if i can reproduce this on future branches, then i can reopen it. This is awesome, thanks for your efforts.

[2016-08-11 23:46] #172 closed

[2016-08-15 08:22] jglapa commented on #170
looks like duplicate to #149

[2016-08-15 09:37] jglapa commented on #149
I'm experiencing the exact same problem. Initially I though it was the #170 but looking closer at the error message it's actually the `path invalid validation error`.

I'm running pronto only with `eslint-runner` the `PULL_REQUEST_ID` is always provided, text and json formatter seem to provide everything that's needed:

[code]

[code]

[2016-08-19 07:52] mpluta-airhelp commented on #149
Hello!
Same problem here:
![screen shot 2016-08-19 at 09 38 20](https://cloud.githubusercontent.com/assets/16399476/17802516/013862c0-65f1-11e6-904f-188a2310ba19.png)

and result in GH:
![screen shot 2016-08-19 at 09 41 04](https://cloud.githubusercontent.com/assets/16399476/17802534/1eb76dbe-65f1-11e6-9e18-ac8c6f64871a.png)

No comments were posted though. Running pronto 0.7.
I actually have anot

[2016-08-19 07:56] mpluta-airhelp commented on #168
OK. Managed to streamline this a bit:
[code]
So we can close this issue for now :)

[2016-08-19 07:56] #168 closed

[2016-08-20 10:19] mmozuras commented on #168
@mpluta-airhelp cool, glad you managed to work it out 😄

[2016-08-20 12:36] #170 closed

[2016-08-20 12:39] mmozuras commented on #170
Fixed and released [v0.7.1](https://github.com/mmozuras/pronto/releases/tag/v0.7.1).

[2016-08-20 12:40] mmozuras commented on #149
Fixed and released [v0.7.1](https://github.com/mmozuras/pronto/releases/tag/v0.7.1).
Thanks everyone for reporting it! 🙇

[2016-08-20 12:48] steverob commented on #166
@mmozuras Yeah you're right, I dont need to configure slug. Thanks @mmozuras :)

[2016-08-20 12:48] #166 closed

[2016-08-20 12:49] steverob commented on #166
@mmozuras I was trying to automate setting up pronto by making it a service for my company folks :)

[2016-08-20 16:00] samnang commented on #170
@mmozuras thanks for fixing it. Love it!

[2016-08-30 08:48] jglapa commented on #149
Hey @mmozuras I'm still experiencing the problem! But only sometimes. I'm using 0.7.1
I've run the analysis with github_pr and json formatters and that's what I got. Is it possible that those underscores in the path are problematic? Is there a way to turn on debugging of those HTTP Requests?

[code]

[2016-08-30 09:30] mmozuras commented on #149
@jglapa you can set `verbose` to `true` in [configuration](https://github.com/mmozuras/pronto#configuration). It might not be enough. You might want to try adding additional logging via `bundle open pronto`. `submit_comments` method in `PullRequestFormatter` could use them.

[2016-08-30 13:04] jglapa commented on #149
@mmozuras after digging a bit in the problem. I came to the following conclusion:
My `patch` that was analyzed in this case by `pronto-eslint_npm` runner was analyzing too much! It wanted to report an issue on a file that was never changed in the given PR. Github doesn't allow to post comments for files that are not in the scope of a PR so I was getting the error: 'path invalid'
This makes sense.

[2016-08-30 19:42] mmozuras commented on #149
@jglapa thanks for taking the time to write down the problem. It might be useful for others in the future 😄

[2016-08-30 19:42] #149 closed

[2016-09-01 07:33] dennmart opened #175 "GithubPullRequestFormatter raises exception when pronto-rails_schema runner has a warning"
I recently started using `GithubPullRequestFormatter` with Pronto and ran into an issue where when the [pronto-rails_schema](https://github.com/raimondasv/pronto-rails_schema) runner has a warning. This is the relevant stack trace from the Rake task I use:

[code]

Other runners I have work properly with `GithubPullRequestFormatter`, and pronto-rails_schema works well with other formatters.

I'm n

[2016-09-08 20:13] elliotthilaire commented on #111
I've also come across this issue.
Is this something I can help with?

[2016-09-14 17:23] KirillSuhodolov commented on #111
+ will be great have integration with pronto

[2016-09-14 18:22] Fernan2 opened #176 "README says "integrates with GitLab and Bitbucket", forgot Github"
README says "integrates with GitLab and Bitbucket":
![captura de pantalla 2016-09-14 a la s 20 20 50](https://cloud.githubusercontent.com/assets/103583/18524474/c9679e24-7ab8-11e6-9d2d-b7da99f01386.png)

Only later you see that it also integrates with Github:
![captura de pantalla 2016-09-14 a la s 20 22 15](https://cloud.githubusercontent.com/assets/103583/18524513/f715c5b2-7ab8-11e6-9d7f-276a3b2

[2016-09-15 06:02] #176 closed

[2016-09-15 06:03] mmozuras commented on #176
@Fernan2 thanks for pointing that out! 🙇

[2016-09-16 13:27] benoittgt opened #177 "Pronto spam my pull request with the last version of github"
Hello

First thanks for pronto. We love it. We are using it as a task with jenkins with something like :
[code]
It was working good since the last update of github. Now we get this :
<img width="342" alt="capture d ecran 2016-09-16 a 15 26 41" src="https://cloud.githubusercontent.com/assets/8417720/18587373/fd963844-7c21-11e6-8f5a-6fc63089caee.png">

I tried to run the command locally and didn't g

[2016-09-20 22:26] ibrahima commented on #177
It'll be nice if Github opens up the API for pull request reviews so that Pronto can just post a single review with all the comments rather than commenting multiple times. I guess that's what causes this issue? Seems like it's completely on github to fix though.

[2016-09-20 22:30] ibrahima opened #178 "Suppress some Pronto runners from posting Github commit statuses"
I really like the new Github status feature, but it'd be nice if you could suppress some Pronto runners from posting Github commit statuses. For instance, we have a bunch of runners, some of which are more important than others, and it'd be nice for us to know that there are no Rubocop violations, but we don't care as much about others to include them in the statuses list. Or alternatively, it'd b

[2016-09-21 08:30] benoittgt commented on #177
Yes @ibrahima. I've sent an email to github at the same time I opened this issue. They fowarded my mail to eng team. No answer for the moment

[2016-09-21 20:07] ibrahima commented on #177
Here's a link to the platform forum thread about the PR Review API: https://platform.github.community/t/api-endpoint-for-pr-reviews/409/2

Hopefully they add it soon, but it's not on their roadmap yet :(

[2016-09-22 14:20] benoittgt commented on #177
It seems in jenkins it fails to post

[code]

[2016-09-25 20:13] prpetten opened #180 "pronto-brakeman and pronto-rails_best_practices not playing nicely with each other"
When `pronto-brakeman` is included with `pronto-rails_best_practices`, `pronto-rails_best_practices` is unable to find any violations it finds when `pronto-brakeman` isn't present. Interestingly `pronto-brakeman` does not appear to bother any other `pronto` runners, at least not the ones I'm using.  I confirmed it was `pronto-brakeman` that was causing the issue with `pronto-rails_best_practices`.

[2016-09-26 06:19] nbekirov commented on #180
Is this related to #80?

[2016-09-26 21:40] prpetten commented on #180
<embarassed> Yes, I can't believe I missed that, I could have sworn I read them all, and its right there in the title.  Feel free to mark as a duplicate and close.

[2016-09-26 21:57] prpetten commented on #180
@nbekirov it certainly appears so.  Feel free to close as duplicate, I could have sworn I looked through the issues, but

[2016-09-26 21:57] #180 closed

[2016-09-29 08:42] mpluta-airhelp commented on #177
Can we make pronto fallback on older version of the API? Waiting for GH to open their review API seems like a long time... I think we actually used this trick on our TeamCity instance for pushing status updates to GH. But GH plugin for TC is not impacting pronto calls.

[2016-09-29 12:03] ibrahima commented on #177
I don't think pronto is using any different API than before, it's just
Github that started displaying things differently.

On Thu, Sep 29, 2016, 1:42 AM Mateusz Pluta <notifications@github.com>
wrote:

[2016-09-30 08:28] mpluta-airhelp commented on #177
Yesterday sth changed. For couple of days no pronto comments were visible on PR and now thay appear in form of review. Everything nice but... They are not being updated after fix is aplied, nor can you remove them manually. Is GH changing sth...?

[2016-09-30 09:26] benoittgt commented on #177
Maybe it's related to the mail I sent to them. Will give a try today.

[2016-10-02 19:09] mmozuras commented on #178
I think that two configuration options make sense:

* ability to override `DEFAULT_LEVEL_TO_STATE_MAPPING` for each runner.
* ability to specify which runners deserve a status.

Not sure if we need the ability to collapse the rest into one status. That seems a little much. But I might've not encountered the scenario that would require it. How many runners do you currently use?

[2016-10-03 13:07] benoittgt commented on #177
No more noise but new API seems still unaccessible with the same message as before : https://github.com/mmozuras/pronto/issues/177#issuecomment-248917616

[2016-10-03 13:23] benoittgt commented on #177
Ok I just received a proper published comment on a PR. Closing the issue, because it's resolve for me.

[2016-10-03 13:23] #177 closed

[2016-10-13 12:28] peeyushsingla opened #182 "Issue while running `pronto run -f github_pr -c origin/master`"
I am trying to run

`GITHUB_ACCESS_TOKEN=MYTOKENGOESHERE pronto run -f github_pr -c origin/master`

If we have lots of issues/comments to be made on the pull request it will throw timeout exception although it is posting all those comments but it throw timeout error without completing posting all the errors.

`Users/peeyush/.rvm/rubies/ruby-2.3.0/lib/ruby/2.3.0/net/http.rb:880:in 'initialize': exe

[2016-10-14 14:11] mmozuras commented on #177
@benoittgt thanks! 🙇

[2016-10-14 19:57] mmozuras commented on #182
@peeyushsingla at how many comments, do the timeouts start occurring? Could it be that you're hitting GitHub [rate limit](https://developer.github.com/v3/rate_limit/)?

[2016-10-17 08:19] mmozuras commented on #23
Closing as no one seems to encounter this issue anymore.

@doomspork @driv3r please re-open if you've encountered it in the last couple of months 😄

[2016-10-17 16:19] doomspork commented on #23
Sounds good @mmozuras, I haven't run into this for some time now.

[2016-10-18 14:22] mknapik opened #188 "GitHub Pull Request formatter fails if comments already exist"
I got the following error on my CI:
[code]

After some debugging it turned out the error occurred for already existing comments.
Further troubleshooting showed it might have been related to `consolidate_comments` option.
I've created example project with 2 pull request:
* mknapik/pronto-github-nil-comment-issue#1 fails on second Pronto run
* mknapik/pronto-github-nil-comment-issue#2 works fine

Th

[2016-10-18 14:25] doomspork commented on #188
@mknapik I'll take a peek at this later today but I can't say I've run into this myself and we've been using the consolidated comments since before they were merged into Pronto.

[2016-10-18 14:26] doomspork commented on #188
@mknapik were the comments existing _before_ you ran Pronto?  Were they from a previous run?

[2016-10-18 14:44] mknapik commented on #188
@doomspork Yes, from previous pronto run.

[2016-10-19 09:31] #188 closed

[2016-10-27 23:34] johncip opened #191 "No commit option in .pronto.yml? (also, crashes unless local master exists)"
(Didn't see this brought up elsewhere. And from what I can tell, behavior is the same in master as my installed version of 0.7.1.)

Essentially, I think it'd be useful if you could set pronto to check against `origin/master` rather than `master`. There are a couple of reasons for this:
- not all workflows require having a local master branch (e.g. even for small changes, we make a feature branch,

[2016-10-30 21:13] christhekeele opened #192 "Support message prefixes"
It'd be nice to be able to configure `pronto` to prepend prefixes to the messages it creates.

The usecase I have in mind is: since it posts as a user to git hosting sites, it'd be nice to annotate the comments it leaves with `"Automated style linter:\n"` or some such thing.

Most linters have... assertive messages like "Prefer doing xxx", or "You must do yyy", and I've been put off from continuin

[2016-11-03 08:56] Fabs commented on #132
I got the same error because of `rails_best_practices`. Once I took pronto away of my Gemfile (because it was conflicting with other dependencies I have), then it stop working from my environment because of `pronto-rails_best_practtices`. When I remove this runner everything was well.

[2016-11-13 18:50] mmozuras commented on #132
@Fabs have you tried updating rubygems by running `gem update --system` (reference: https://github.com/railsbp/rails_best_practices/issues/279)

[2016-11-21 17:56] tscheffe opened #193 "Confusion around `--index` option"
Recently had some confusion with the `--index` option.

Expected:
`Run on the diff between master and HEAD, _including staged changes_`

Actual:
`Run on _only_ on the diff between master and staged changes, not including committed changes`

The issue then, is my `Actual` interpretation correct? If so, would a PR from me attempting to clean up the README documentation and examples be accepted?

I d

[2016-11-23 09:19] mmozuras commented on #193
@tscheffe yes, I think that your `Actual` interpretation is correct. And, of course, I would accept any PR that improves documentation 😄

Reference: [original issue](https://github.com/mmozuras/pronto/pull/40/files). /cc @splattael

[2016-11-23 09:23] mmozuras commented on #191
@johncip yes, go for it! 😄 Sorry for a late reply 🙇.

Please post an update if you intend to do it, so we wouldn't end up in a situation where we both are doing the same work 😄.

[2016-11-23 09:29] mmozuras commented on #192
@christhekeele have you considered having a separate user for Pronto? That's how we solve this issue - with a separate bot user, who's clearly recognised as such.

I would accept a PR for this enhancement, if someone would write it.

[2016-11-23 09:48] splattael commented on #193
I'm with @tscheffe. I would have expected the `Expected` too before I contributed `--index`.
But making this the default behaviour might surprise other users and possibly break their CI.

:+1: for better doco :green_heart:

[2016-11-27 08:48] johncip commented on #191
Ok!

[2016-11-28 06:02] juno opened #194 "pronto does not compatible with thor 0.19.2"
pronto doesn't work with thor 0.19.2 which has released at Nov 26, 2016 (and it's 0.19.3 now).

[code]

Root cause is that thor 0.19.2 changed it's protected method name in [this](https://github.com/erikhuda/thor/commit/3e2dfe9d431758b2aa0996e304744881dc78825c#diff-ffcb86f580effa19deae13c3f3ec990f) commit.

- Before:
  - `Thor::Base.is_thor_reserved_word?`
- After:
  - `Thor::Base.thor_reserved_wo

[2016-11-28 09:33] juno commented on #194
Thor 0.19.4 has just released and it compatible with pronto.
https://github.com/erikhuda/thor/issues/534#issuecomment-263193920

[2016-11-29 06:54] #194 closed

[2016-12-09 22:10] Ch4s3 opened #197 "default formatter breaking travis"
cc: @mkaplan9

I see that this is fixed by #195, but it hasn't been released. Would you consider releasing a new minor version soon?

[2016-12-15 03:34] ibrahima commented on #178
As a followup, I realized later that there's a pretty obvious workaround for those running Pronto in CI. Just run some subset of runners with the commit status formatter, and some without, and you'll get the desired result. We have about 9-10 runners and some of them are less "blocker"y than others, at least for our team.

[2016-12-15 03:34] #178 closed

[2016-12-15 21:49] ibrahima commented on #177
https://developer.github.com/changes/2016-12-14-reviews-api/ new API is now available, though not yet supported by Octokit.

[2016-12-30 14:29] marcosgugs commented on #125
+1

[2016-12-30 14:31] marcosgugs commented on #125
I'm getting the same error.

[2016-12-30 18:31] mmozuras commented on #125
@marcosgugs which version are you using? `0.7.1`?

[2016-12-30 18:52] marcosgugs commented on #125
@mmozuras Yes, `0.7.1`!

[2017-01-26 16:17] npetkov opened #201 "Messages with nil line crash pronto"
I'm using `pronto 0.7.1` & company. I've stumbled upon this exception:

    NoMethodError: undefined method `new_lineno' for nil:NilClass /.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/pronto-0.7.1/lib/pronto/formatter/github_pull_request_formatter.rb:13:in `line_number'

Checking the code it's obvious that `line_number` in `GithubPullRequestFormatter ` expects non-`nil` value for line.

As it tu

[2017-01-29 03:47] david-a-wheeler opened #202 "Cut a new version soon?"
Hi - love pronto.  But the current release (0.7.1) depends httparty - and an extremely specific version of it (~> 0.13.7), and this causes many other dependencies in my system to be stuck.  I see that commit 82d195cb461b6abd1f8f72755c6116feb78077d3 fixes this.  Can you release new version of pronto sooner?  Yes, I could depend on an untagged version, but I'd rather use a "release" version since th

[2017-02-03 13:29] siddhant-mohan commented on #125
same error, again and again

[2017-02-05 17:56] dgmora commented on #193
I've also been bitten by this. There are a couple of mentions in the readme:

This is correct, but kind of confusing because it doesn't check the index, but the diff between index and current directory:
[code]
Just not correct (Also in  `pronto help run`):
[code]

For me the current behavior should be called `unstaged`, as...it checks the files that have not been yet staged for commit, and `--inde

[2017-02-12 16:50] mmozuras commented on #197
@Ch4s3 done! 🎆
https://github.com/mmozuras/pronto/releases/tag/v0.8.0

[2017-02-12 16:50] #197 closed

[2017-02-12 16:50] mmozuras commented on #202
@david-a-wheeler done! 👍
https://github.com/mmozuras/pronto/releases/tag/v0.8.0

[2017-02-12 16:50] #202 closed

[2017-02-12 17:25] david-a-wheeler commented on #202
Awesome! Thanks!

[2017-02-13 10:45] gitanshu commented on #125
Same error in pronto-0.8.0

[2017-02-16 21:42] #201 closed

[2017-02-19 20:42] #125 closed

[2017-02-19 20:45] mmozuras commented on #201
Released a fix with [v0.8.1](https://github.com/mmozuras/pronto/releases/tag/v0.8.1).

[2017-02-19 20:45] mmozuras commented on #125
Released a fix with [v0.8.1](https://github.com/mmozuras/pronto/releases/tag/v0.8.1).

[2017-02-24 18:49] janpaul123 opened #205 "Adding comments on deleted files does not work"
It raises an error like "the path 'directory_name' does not exist in the given tree".

I couldn't find a ticket for this yet, is this something people want to do? In my case I'd like to do this to warn when certain files are renamed (which other projects might depend on).

[2017-03-03 09:24] MvanDiemen commented on #111
@mmozuras any update on how to use this with staged changes?

[2017-03-03 12:42] mmozuras commented on #192
Will be solved by this PR: https://github.com/mmozuras/pronto/pull/204

[2017-03-03 12:42] #192 closed

[2017-03-03 18:30] #111 closed

[2017-03-03 18:30] #193 closed

[2017-03-03 18:35] mmozuras commented on #193
@tscheffe @splattael @dgmora I've renamed the `--index` option to `--unstaged` and added `--staged` options as requested by #111 with [this commit](https://github.com/mmozuras/pronto/commit/818ba1be68a6797158d22e148cff282d12a70db2). Would love to hear some feedback 😄

[2017-03-03 18:36] mmozuras commented on #111
@konradstrack @elliotthilaire @KirillSuhodolov @MvanDiemen I've renamed the `--index` option to `--unstaged` and added `--staged` options as requested with [this commit](https://github.com/mmozuras/pronto/commit/818ba1be68a6797158d22e148cff282d12a70db2). You can test it by building master and installing master locally. Would love feedback 😄

[2017-03-04 13:03] mmozuras commented on #175
@dennmart this was fixed in [v0.8.1](https://github.com/mmozuras/pronto/releases/tag/v0.8.1). Please reopen if you'll encounter it again 😄.

/cc @raimondasv (author of [pronto-rails_schema](https://github.com/raimondasv/pronto-rails_schema).

[2017-03-04 13:03] #175 closed

[2017-03-04 13:11] mmozuras commented on #65
@skwp did @eliotsykes answer helped? Do you still encounter this issue with the current release (0.8.2)?

[2017-03-04 14:20] dennmart commented on #175
@mmozuras Thank you so much!

[2017-03-04 15:52] mmozuras commented on #131
Closing this issue. It's not something that should be handled by pronto. In case you do encounter it, please try the fix suggested by @shalecraig.

[2017-03-04 15:52] #131 closed

[2017-03-04 16:24] mmozuras commented on #48
Thought about it today and decided not to do it.

Requires changing approach too much, makes more sense as a completely separate project 😄.

[2017-03-04 16:24] #48 closed

[2017-03-04 16:26] mmozuras commented on #105
For reference, there's also this Pronto-as-a-Service project by @doomspork: https://github.com/wombatsecurity/nag

[2017-03-06 17:16] splattael commented on #193
@mmozuras This is a very nice solution! Like it. Thank you :+1:

[2017-03-07 16:22] jwarlander commented on #140
Definitely interested in this; @tubbo, were you able to get it working in your branch?

[2017-03-08 17:26] tubbo commented on #140
I wasn't able to just yet, but I think I'm having some local access issues. Will report back when I get it tested correctly.

[2017-03-09 18:55] LucasHMonteiro commented on #65
Hello, I have the same issue here. My project is up to date and have no changes to commit. The only runners that I'm using that work along with pronto are flay, rubocop and poper. The others like reek or brakeman report lots of things when used separetely from pronto but report nothing when used along with it

[2017-03-10 10:21] MvanDiemen commented on #111
[code]

I am using the current master branch but it's still not showing the errors for staged changes.

[2017-03-11 04:08] eprislac opened #208 "Expected array default value for '--formatters'; got "text" (string)"
Pronto posts 0 comments on PRs that I know have broken style-guide rules set up in rubocop. (run with pronto-rubocop). I have rules for 10-line max methods, 100 char wide lines, have seen PRs pass through lately with no comments posted. Looked at the console output on my CI, and saw this line:
[code]
I get that error no matter if I have one or two values for formatters. (I run from a Bash script i

[2017-03-12 14:29] mmozuras commented on #208
@eprislac could you post the relevant part of that bash script here? 😄

[2017-03-12 16:16] #49 closed

[2017-03-12 16:16] mmozuras commented on #49
@Linuus thanks for suggestion! This will be part of next release 😄

[2017-03-12 16:26] #64 closed

[2017-03-12 16:27] mmozuras commented on #64
@eliotsykes thanks for suggestion! 🙇

[2017-03-12 16:29] mmozuras commented on #65
@LucasHMonteiro did you try to run in a (feature/development) branch with changes or `master`?

[2017-03-13 15:45] eprislac commented on #208
The following line is the entire bash script (with tokens and PR ids obfuscated), and used to work flawlessly:
[code]
I have tried changing `GITHUB_ACCESS_TOKEN` to `PRONTO_GITHUB_ACCESS_TOKEN`, as shown in the updated README, it throws an error -
[code]

I have the following runners installed and none of them are currently posting messages:
[code]

[2017-03-13 16:56] mmozuras commented on #208
@eprislac I see that you're using `0.7.1`. You should update to a later version. I've checked [our CHANGELOG](https://github.com/mmozuras/pronto/blob/master/CHANGELOG.md) and now see that [this bug](https://github.com/mmozuras/pronto/pull/195) was fixed in `0.8.0` (latest version is `0.8.2`).

[2017-03-13 20:23] eprislac commented on #208
Updated to latest. no longer getting errors with new syntax. Everything working correctly now, thanks for the assist!.

[2017-03-13 20:23] #208 closed

[2017-03-14 14:24] dstull commented on #140
interested in bitbucket server working as well against pull requests.  I believe this code will prevent it due to base setting...

https://github.com/mmozuras/pronto/blob/master/lib/pronto/clients/bitbucket_client.rb#L26

[2017-03-14 17:53] LucasHMonteiro commented on #65
@mmozuras I ran it in a feature/development branch and it worked well (except for brakeman that seems to have some problems on its own) and in the master branch it throws a NoMethodError for "this" method in the specifcation.rb file in the rubygems folder. So let me see if I got it, pronto will only work properly in a branch that has the "feature/" prefix?

[2017-03-16 19:14] romulomourao opened #209 "Message format"
Hi.
I've been trying to use the format option in the .pronto.yml file but it seems not to work

[code]

Today I realized that this options is not showed at http://www.rubydoc.info/gems/pronto/0.8.2

What am I doing wrong?? Thanks, man!!

[2017-03-16 19:52] mmozuras commented on #209
@romulomourao this feature has not yet been released. It will be in the next version. You can use the latest version by building and installing the gem yourself (`gem build pronto.gemspec && gem install pronto-0.8.2.gem`) 😄.

Hope that answers the question, please re-open the issue if it doesn't.

[2017-03-16 19:52] #209 closed

[2017-03-16 20:01] romulomourao commented on #209
Okay..I got it @mmozuras
thanks man

[2017-03-16 20:08] mmozuras commented on #65
@LucasHMonteiro could you post the stacktrace for the error?

Pronto is not supposed to be used on `master`. But I'd like to understand if there's a way to improve. What kind of behaviour did you expect?

[2017-03-16 20:24] yozgarcia opened #210 "Runners, dont show few same warnings for file"

[2017-03-16 20:24] #210 closed

[2017-03-16 20:38] yozgarcia opened #211 "Runners, limit for sames warnings"
When a file has several warnings of the same type, only a few are shown. this happen with severals runners
ex. with rubocop

class NuevaCosa
  def noFaz
    nada =10
  end
  def noFaz
    nada =10
  end
  def noFaz
    nada =10
  end
  def noFaz
    nada =10
  end
  def noFaz
    nada =10
  end
  def noFaz
    nada =10
  end
  def noFaz
    nada =10
  end
end

when use >>>>> Pronto run -r rubocop

[2017-03-16 21:15] mmozuras commented on #211
@yozgarcia could you create a repo that allows reproducing this issue?

Note that pronto doesn't check the whole file. By default, it only cares about changes made in the branch.

[2017-03-17 07:25] zoras commented on #118
@eprislac RJGit seems to be the alternative for rugged in jruby
https://github.com/repotag/rjgit

[2017-03-17 16:03] LucasHMonteiro commented on #65
@mmozuras here goes the full stack trace

`/home/sti/.rvm/rubies/ruby-2.3.1/lib/ruby/2.3.0/rubygems/specification.rb:2158:in `method_missing': undefined method `this' for #<Gem::Specification:0xc75970 pronto-0.8.2> (NoMethodError)
        from /home/sti/.rvm/rubies/ruby-2.3.1/lib/ruby/2.3.0/rubygems/specification.rb:1057:in `find_active_stub_by_path'
        from /home/sti/.rvm/rubies/ruby-2.3.1/l

[2017-03-20 09:31] MvanDiemen opened #214 "Pronto not showing staged changes"
A continuation of #111.

I am using the master branch with the fix included in the previous issue, but it's not showing anything.

[code]

[2017-03-21 16:18] andrey-skat commented on #140
There are different APIs for cloud and server versions

https://developer.atlassian.com/bitbucket/api/2/reference/resource/
https://developer.atlassian.com/static/rest/bitbucket-server/latest/bitbucket-rest.html

[2017-03-21 19:39] tscheffe commented on #193
They changes look fantastic!

[2017-03-22 17:15] andrey-skat commented on #140
I added pr with formatter #216

[2017-04-06 14:30] zhuravel opened #217 "Use GitHub's review API to make PR comments"
It is possible to make all the comments in one request and group them as one review.

Reviews API is already supported by the latest Octokit:
https://github.com/octokit/octokit.rb/releases/tag/v4.7.0
https://github.com/octokit/octokit.rb/pull/860/files

[2017-04-06 22:09] Zechtitus opened #218 "pronto having issues with renamed files"
I ran into issues with pronto where it was commenting on commits which were outside of the differences using the --commit flag

Steps -
1. Basically have a file in your repo /Test/SomeFile.php
2. Add in some generic php code which contains some lint errors
3. Check into gitlab
4. Add in several more additions to that file which pass lint (pronto will see no errors)
5. Rename that file to /Test/Som

[2017-04-07 11:08] sauliusgrigaitis opened #219 "GitLab integration doesn't work"
[code]

[2017-04-07 11:57] mmozuras commented on #219
@sauliusgrigaitis since [v0.8.0](https://github.com/mmozuras/pronto/releases/tag/v0.8.0), Pronto ENV config variables are prefixed with `PRONTO_` ([CHANGELOG](https://github.com/mmozuras/pronto/blob/master/CHANGELOG.md#080), [PR](https://github.com/mmozuras/pronto/pull/184)). So, for example: `PRONTO_GITLAB_API_PRIVATE_TOKEN` instead of `GITLAB_API_PRIVATE_TOKEN`.

Hope that it helps! 🙇

[2017-04-07 12:09] sauliusgrigaitis commented on #219
Thanks. Informative message for old ENV variables users would be nice because in this community changelogs...

[2017-04-07 12:09] #219 closed

[2017-04-08 08:08] sauliusgrigaitis opened #220 "Pronto detects only some of the violations"
Pronto detects only some of the violations. I like the idea of quickly checking only 'relevant changes', but it simply doesn't work by design. If it's a known design flaw, then Readme should clearly say that. If it's not known - here are steps to reproduce it:

1. Take some Ruby method with max allowed length by your RuboCop config.
2. Add one more line to that method.
3. Run Pronto and RuboCop.

[2017-04-08 16:54] mmozuras commented on #219
@sauliusgrigaitis good point! 😄

For next release, I'll consider using something `post_install_message` from `Gem::Specification` to inform about these kind of changes.

[2017-04-08 17:08] mmozuras commented on #220
Using something like Violations Plugin is a valid alternative, definitely. Depends on your use case!

@sauliusgrigaitis I disagree with `some` but in general, you're right. While Pronto works for most violations, it doesn't work for every violation. But #221 is not the solution 🙂. Here are the options I see:

1. Working with linters creators that they would provide more than just the line number,

[2017-04-08 17:13] mmozuras commented on #220
For reference, an instance of the same issue: https://github.com/mmozuras/pronto-scss/issues/7

/cc @ibrahima

[2017-04-09 11:12] mmozuras commented on #140
Resolved with #216, will be released in the next version - `0.9.0`.

[2017-04-09 11:12] #140 closed

[2017-04-09 15:49] mmozuras commented on #217
@zhuravel @doomspork @dennmart @PuercoPop which option seems better: replacing the existing `github_pr` formatter or a new one - `github_pr_review`?

[2017-04-09 16:14] PuercoPop commented on #217
@mmozuras I'm not familiar with the code base so take my comments with a pinch of salt, but from a quick glance, having a `github_pr_review` seems better. From the base `PullRequestFormatter` it seems PRF is only concerned with submitting comments. Ideally the github_pr_review may later want also to act as a status check.

[2017-04-10 09:26] sauliusgrigaitis commented on #220
Well, it depends on the point of view. I think that those code structure related violations (methods complexity, length etc) are way more important that those Pronto are able to detect. That's why I use `some`. Wording for sure is a subjective thing, but I would not use word `perfect` at this stage :)

In any case, I strongly suggest to clearly point this issue in the Readme. A lot of folks may ev

[2017-04-10 09:40] mmozuras commented on #220
@sauliusgrigaitis agree with wording being a subjective thing. And did not suggest to use `perfect` and never claimed it 😄

Would also point out that Pronto is able to detect those violations in many cases. Using your example, Pronto would detect that kind of violation if that method would be added as a whole or its signature would be changed.

👍

[2017-04-10 15:32] doomspork commented on #217
@mmozuras I tend to favor a new `github_pr_review` option, I think having the choice to use one or the other would be nice to have.

[2017-04-10 18:42] mguterl commented on #220
We have similar issues and had to move away from pronto-rubocop because of it. We also ran into issues when we upgraded rubocop and new rules were introduced.

[2017-04-10 20:01] mmozuras commented on #220
@mguterl what kind of issues did you run into after you upgraded rubocop? 🙂

[2017-04-11 09:26] sauliusgrigaitis commented on #220
Well, then I'm not sure what is it "...Perfect if you want to find out quickly if a branch introduces changes that conform..."

It doesn't change the fact that there are a lot of cases when it doesn't work. If it doesn't work at least in some of the cases it's not usable for me. Like most of the things in engineering.

![Most of the time](https://media.licdn.com/mpr/mpr/AAEAAQAAAAAAAAQEAAAAJDE4MjU

[2017-04-11 09:44] mmozuras commented on #220
Agreed. I've offered it as an option in my first comment and agreed to it with my third comment in this thread 🙂.

Most of the time Pronto is used to make comments on pull-requests / merge-requests. While running Pronto on the whole file is possible (and easy), the harder part is: where to post those comments then if they are not part of the pull-request / merge-request diff? Thoughts? Ideas? How

[2017-04-11 11:20] dgmora opened #223 "github_pr runner should not run outside the PRs"
Seems pretty obvious, but if you have pronto in CI with something like:
[code]
when you run the build in `master`, you'll run into:
[code]

[this](https://github.com/mmozuras/pronto/blob/master/lib/pronto/github.rb#L70) is what is causing the issue, as it returns always 0 if there is no pull request id.

I guess the expected behaviour is that it runs nothing?

[2017-04-11 13:19] sauliusgrigaitis commented on #220
Thoughts? Ideas? How could we handle it? ￼

Just like any other comments that are not dedicated to a particular line of the pull request, for example how this pull request affects entire codebase? There is usually common section something like `Discussion` section in GitLab.

[2017-04-11 14:17] jdossett opened #224 "Please allow upgrade of the gitlab gem"
pronto requires gitlab ~>3.6, but the current version of the gitlab gem is 4.0.  Through a series of inter-dependencies this is holding back the json gem to v1.8.6, while the current version is 2.0.4.

[2017-04-17 11:46] #217 closed

[2017-04-17 12:07] #224 closed

[2017-04-17 12:11] mmozuras commented on #223
This will be improved with the upcoming release 😄. Instead of crashing with an `Octokit::NotFound`, it will error more gracefully, explaining what happened. Closing this, but please re-open if you think that it could be improved even further.

Related: https://github.com/mmozuras/pronto/issues/49.

[2017-04-17 12:11] #223 closed

[2017-04-17 12:56] #214 closed

[2017-04-17 12:57] mmozuras commented on #214
@MvanDiemen my mistake! I only tested whether patches exist, not the whole integration. Fixed now 😄.

P.S. It was a fun bug to figure out and fix 😄.

[2017-04-17 14:14] mmozuras commented on #164
@TLmaK0 fixed in [v0.8.0](https://github.com/mmozuras/pronto/releases/tag/v0.8.0) with https://github.com/mmozuras/pronto/pull/179.

Please re-open if you'll still encounter it 😄.

[2017-04-17 14:14] #164 closed

[2017-04-17 14:35] mmozuras commented on #182
@peeyushsingla we've added `github_pr_review` formatter. It will be released in `v0.9.0`. You can also try it out by building the gem yourself locally. It uses Reviews API, which posts all the comments with a single request. Should work around this issue 🙂.

[2017-04-18 18:06] doomspork commented on #23
@mmozuras I have been able to consistently reproduce this issue now.  I'm going to work through debugging it but if you have any insights I'd love to hear them!

[code]

[2017-04-18 20:53] jdossett commented on #224
Thanks very much!

[2017-04-19 20:34] mmozuras commented on #23
@doomspork do you have a repo/branch/commit, which can be used to reproduce this issue? Is it reproducible on different machines?

[2017-04-19 20:43] doomspork commented on #23
@mmozuras I'm using Pronto master at the moment.  I tried scaling up the AWS box to see if it was a resource constraint to no avail, I'm going to bump it up even further and see.

I'm going to investigate this further later this week.  I'll report back my findings to you 😀

[2017-04-21 12:48] jeroenj opened #226 "Add an option to pass a .pronto.yml config file"
In our current setup we use a Docker image to run pronto in a container to run the checks in our CI. Since we have a lot (120+ projects) that should be checked we want to centralise as much of the configs as possible. Because it isn't possible to set the path of a `.pronto.yml` config file (unless I'm overlooking it?) it means the easiest way to use it is to embed it in all our projects.

It looks

[2017-04-23 16:28] mmozuras commented on #226
@jeroenj that's correct. It's _almost_ supported, would accept a pull request adding an option to set a path via a flag 🙂.

[2017-04-23 17:27] mmozuras commented on #217
Released [v0.9.0](https://github.com/mmozuras/pronto/releases/tag/v0.9.0) with `github_pr_review` as an option.

[2017-04-23 17:28] mmozuras commented on #140
Released [v0.9.0](https://github.com/mmozuras/pronto/releases/tag/v0.9.0) with `bitbucket_server_pr` as an option.

[2017-04-23 18:05] mmozuras commented on #111
@KirillSuhodolov @glennr you can find the PR on Overcommit for a pre-commit hook here: https://github.com/brigade/overcommit/pull/488

[2017-04-23 18:12] PuercoPop commented on #217
@mmozuras thank you!

[2017-04-23 19:03] mmozuras opened #227 "Converting to a GitHub organisation"
Hey,

I've decided to consider moving all Pronto related repositories to an organisation. Before I decide to pull the trigger, I'd like to ask for some input. I personally think that it would help organise, maintain and contribute in a better way ✊.

First thing that I've checked:
* [x] Github will automatically redirect the old personal repo to the new org repo.

@mknapik, @doomspork, @jeroenj, @

[2017-04-23 20:49] doomspork commented on #227
Howdy @mmozuras!  I see no problems with switching to an organization so long as you're happy to do so 😀

Let me know if there's anything I can do to help.

[2017-04-23 20:52] aergonaut commented on #227
Yep I see no problems doing this!

[2017-04-24 05:45] nicka commented on #227
Same here, please go ahead 👍

[2017-04-24 06:32] jeroenj commented on #227
Sounds great to me. As long as you're okay with it. :)

[2017-04-24 06:33] jeroenj commented on #226
Yeah, my idea was to contribute it as soon as I've got the time for it. 👍 😃

[2017-04-24 07:16] nbekirov commented on #227
That sounds like a great idea. 👍

[2017-04-26 09:01] hmnhf opened #229 "Uninitialized constant Pronto::Formatter::SimpleDelegator"
Hi, I'm getting this error when trying to run pronto.

[code]

As a temporary fix, I'm requiring `delegate` in `lib/pronto/formatter/text_message_decorator.rb` .

[2017-04-26 17:24] iggant opened #230 "Can pronto bitbucket_pr fallback to bitbucket if he can find PR"
After I merge PR into develop branch auto run bitbucket pipelines return with this error:

than I see this error:

`

	pronto run -f bitbucket_pr -c origin/develop
	/usr/local/lib/ruby/2.3.0/ostruct.rb:96:in 'initialize': undefined method each_pair for ["type", "error"]:Array (NoMethodError)
	Did you mean?  each_slice
	from /usr/local/bundle/gems/pronto-0.9.1/lib/pronto/clients/bitbucket_client.rb

[2017-04-26 19:07] mmozuras commented on #229
@aergonaut hey, could you take a loot at this issue? 🙂

[2017-04-26 19:08] mmozuras commented on #230
@iggant thanks. I think that we should start by making the error nicer and clearer. But I've never before considered a fallback mechanism for runners. That's an interesting idea!

[2017-04-26 19:10] aergonaut commented on #229
Yep!

[2017-04-26 19:18] mmozuras commented on #227
Thanks for support! 🙂

And here are some initial ideas for the logo: [1](https://cloud.githubusercontent.com/assets/54526/25452313/e0db7178-2acd-11e7-8757-2db063fdafc3.jpg), [2](https://cloud.githubusercontent.com/assets/54526/25452316/e1035102-2acd-11e7-9cf4-f1a6c4fa7f16.jpg), [3](https://cloud.githubusercontent.com/assets/54526/25452315/e1033cbc-2acd-11e7-8717-75aebd26b8e6.jpg), [4](https://clou

[2017-04-26 19:28] doomspork commented on #227
@mmozuras I like #2.   I'll ponder logo ideas over the next few days.  Thanks again for including all of us in the decision making process 😁

[2017-04-26 20:00] aergonaut commented on #227
Yeah, I like 2 the most. Conveys the theme of speed the best in my opinion.

[2017-04-26 20:39] ifokeev commented on #217
It doesn't work without header
https://github.com/mmozuras/pronto/pull/231

[2017-04-26 21:36] ivanovaleksey opened #232 "GitLab pull request formatter"
Hi @mmozuras,

thank you for the awesome gem!

I use it with GitLab instance.
I noticed that only commit formatter exists for GitLab. But GitLab API contains [endpoints](https://docs.gitlab.com/ee/api/notes.html#merge-requests) to work with comments on pull requests (merge requests as they call them).

Is it possible to enable pull request commenting for GitLab (maybe there are some restrictions I

[2017-04-27 04:56] giedriusr commented on #227
2nd

[2017-04-27 06:41] jeroenj commented on #227
I like the first one the most. But I really like the second one too. :)

[2017-04-27 07:03] nbekirov commented on #227
I really like #2

[2017-04-27 07:21] ivanovaleksey commented on #232
Seems like I understand the problem now.
Merge request [API](https://docs.gitlab.com/ee/api/notes.html#create-new-merge-request-note) allows to create a note for the entire merge request. We can't specify particular line of code.
And comment for commit [API](https://docs.gitlab.com/ee/api/commits.html#post-comment-to-commit) allows to do per-line commenting.

😞

[2017-04-27 10:00] kasiakasprzak commented on #229
+ 1

[2017-04-28 11:12] zhuravel commented on #217
@mmozuras Thank you! There's one issue I've found:
Pronto tries to submit a request to GitHub even if there's no comments to submit.

This results in error message posted to console:

![pronto_zero_case](https://cloud.githubusercontent.com/assets/1140581/25526539/a25804b6-2c1c-11e7-8103-27e9cdf9ea0f.png)

[2017-04-28 12:55] mikes01 commented on #232
Hi, the Merge request API should have per-line commenting soon, it is already implemented https://gitlab.com/gitlab-org/gitlab-ce/issues/20901
It will be released in 9.2 version at May 21.

[2017-04-28 13:04] ivanovaleksey commented on #232
@mikes01 cool, thank you!
Then I will continue work on PR after API updates.

[2017-04-28 13:31] ifokeev commented on #217
@zhuravel I didn't fix this issues because I think it's OK.

[2017-04-30 12:28] mmozuras commented on #217
Released the header fix as part of [v0.9.2](https://github.com/mmozuras/pronto/releases/tag/v0.9.2). For me it worked without the header and didn't even give a warning. Wonder why 🤔

Could you open a new issue for it? It's a small fix, but I wouldn't wan't to forget it for next major release 😄

[2017-05-01 04:53] zhuravel opened #233 "GitHub PR Review formatter console warning"
Pronto tries to submit a request to GitHub even if there are no comments to submit.

This results in error message posted to console:

![pronto_zero_case](https://cloud.githubusercontent.com/assets/1140581/25526539/a25804b6-2c1c-11e7-8103-27e9cdf9ea0f.png)

[2017-05-01 04:59] zhuravel commented on #217
Done: #233

[2017-05-01 12:53] mmozuras commented on #227
I'll use that drawing of 2 as a temporary avatar until we'll get a proper version of it 😄.

Next problem: `pronto` is taken. `pronto-org`? Not a fan. Anyone has better ideas? 🙂

[2017-05-01 14:24] aergonaut commented on #227
Ideas:

- prontissimo
- pronto-rb
- pronto-labs

[2017-05-01 14:53] ivanovaleksey commented on #227
I wasn't invited and I don't have any contribution yet (I would like to ☺️ ), but I would vote for the 2nd logo.
`pronto-rb` would be nice organization name.

[2017-05-01 15:38] doomspork commented on #227
I prefer `getpronto`, `pronto-labs`, or `pronto-org`.  Albeit a Ruby gem, given that a lot of the runners _are not_ Ruby, I would shy away from `pronto-rb` or `pronto-gem`.

[2017-05-01 15:52] mmozuras commented on #227
@doomspork good point about a lot of the runners not being Ruby related 👍.

@aergonaut @doomspork where does `pronto-labs` idea come from? Is `Redis Labs` the inspiration? Or are there more labs out there? 😄

[2017-05-01 16:03] doomspork commented on #227
@mmozuras my inspiration came from @aergonaut's suggestion 😁

[2017-05-01 16:08] aergonaut commented on #227
Just thinking of other cool-sounding suffixes 😃  I think I like getpronto more than pronto-labs, personally.

[2017-05-01 17:03] mmozuras commented on #227
I like `pronto-org` and `pronto-labs` so far the most. It would also be nice to have the domain available 😄.

[2017-05-01 17:52] doomspork commented on #227
@mmozuras these are available:

+ pronto-labs.com
+ pronto-labs.io
+ prontolabs.io
+ pronto-org.com
+ pronto-org.io

[2017-05-01 19:00] aergonaut commented on #227
👍  for pronto-labs and pronto-labs.io

[2017-05-01 19:18] mmozuras commented on #227
@doomspork @aergonaut what are your thoughts and arguments on `prontolabs` & `prontolabs.io` vs. `pronto-labs` & `pronto-labs.io`?

[2017-05-01 20:15] doomspork commented on #227
@mmozuras no strong feelings, which do you prefer?

[2017-05-02 07:08] jeroenj commented on #227
@mmozuras I'd go with `pronto-labs` & `pronto-labs.io`.

Have you tried contacting the user who has the `pronto` username?

[2017-05-02 12:11] mmozuras commented on #227
@jeroenj I haven't, but I'll try 👍

[2017-05-02 12:24] jeroenj commented on #227
In case he's willing to give it up I'd go with `getpronto.io`. If not I'd stick with `pronto-labs`. :)

[2017-05-07 16:59] #229 closed

[2017-05-07 17:37] mmozuras commented on #227
I went with http://prontolabs.io (set up as redirect) and https://github.com/prontolabs. There's no wrong answer 😄. I think that no dash makes it easier to describe in real life. I also like the consistency with other Labs, like https://github.com/postmanlabs/, https://github.com/awslabs, https://github.com/RedisLabs, which all chose to not have a dash.

I added the second sketch as a temporary lo

[2017-05-07 22:15] aergonaut commented on #227
Should you change the attribution in the copyright and LICENSE to something like "Pronto Contributors"?

I don't know how Rails/Ember/etc. decide who is added to the core teams, but I think in general members of the org should have a commitment to triaging incoming issues and reviewing Pull Requests.

I think 3rd party runners can stay separate from the org, but you could link them from the list o

[2017-05-08 16:48] doomspork commented on #227
I tend to agree with @aergonaut 👍

This is always tough and I've tried different things with the couple of the orgs I'm in.  I personally feel a person needs to demonstrate a commitment to continued participation and support of Pronto; there's a lot of folks out there looking to "collect them all" with regards to org badges on their profile.

As people are added to the organization it'll be import

[2017-05-10 04:28] corroded opened #237 "Bitbucket Server Formatter defaults to port 80 and can't be changed"
Hi, I am trying to make pronto work with our internal Stash installation but it doesn't seem to connect to our server. I've tried to trace the errors by looking at the stack trace and it looks like it just assumes port 80.

Here is my stacktrace:

[code]

Let me know if you need more info. I've set the `.pronto.yml` to:

[code]

Upon further investigation, it looks like it is hitting Bitbucket via

[2017-05-10 09:01] orangethunder opened #238 "Specify branch / commit instead of using HEAD for diff"
I'm busy thinking about doing a pull request for this, but just need some general advice.

Is this a desirable feature? I may have missed something that already allows for this. It's very useful for me to be able to run pronto without checking out a branch first.

I'm thinking this would be the parameter:

[code]

Then I could pass something like "origin/my_new_feature".

[2017-05-10 12:12] ivanovaleksey commented on #237
Hi @corroded,

I don't have experience about Pronto with BitBucket, but it seems like `BitbucketServerClient` instance [should be initialized](https://github.com/prontolabs/pronto/blob/master/lib/pronto/bitbucket_server.rb#L18) with API URL.
Your `http://stash.localhost:7990` is most likely BitBucket itself not API.

Have you tried to specify `api_endpoint` for BitBucket in configuration file?

[2017-05-11 04:34] corroded commented on #237
Looks like we have been in an older version of BitBucket (v4) so no API integration yet. Closing this now.

[2017-05-11 04:34] #237 closed

[2017-05-13 12:20] mmozuras commented on #238
@orangethunder we don't want to bloat Pronto too much. So before considering adding this feature, could you tell more about the use case? 🙂

[2017-05-13 12:24] #233 closed

[2017-05-13 19:30] ivanovaleksey commented on #232
Looks like implementing this feature will also close #106

[2017-05-14 08:28] mmozuras commented on #106
Closing in favor of #232.

[2017-05-14 08:28] #106 closed

[2017-05-23 06:10] ivanovaleksey commented on #232
It seems like the GitLab issue was moved to 9.3 milestone which has due date on June, 21.

[2017-05-23 15:15] mmozuras commented on #227
@aergonaut @doomspork thanks, very valuable thoughts. I'll make a suggestion on principles this week 🙂

I've worked with a designer on a logo. Here's the result:

![pronto_logo_final](https://cloud.githubusercontent.com/assets/54526/26361440/a6642f32-3fe3-11e7-9ac2-5dfe853b5893.jpg)

Any thoughts on which one (or ones?) to use?

[2017-05-23 15:28] aergonaut commented on #227
Oh wow, all very nice. For the organization's avatar image, I like the orange and white "P" on the black background.

[2017-05-23 15:30] ivanovaleksey commented on #227
Really cool! I like 2nd line from the bottom (with orange bars). They can be used as long and short version.

[2017-05-23 15:32] ivanovaleksey commented on #232
@mmozuras to be honest I didn't read all the discussions because the are huge enough.
As I can see 9.2 (initial milestone for the issue) still [has very much to do](https://gitlab.com/gitlab-org/gitlab-ce/milestones/36). And it should be closed 3 days ago, on May 21 😕

[2017-05-23 15:38] doomspork commented on #227
I agree with @aergonaut & @ivanovaleksey.  The singular white P, orange lines, and blackground really pops.

The rest are awesome too, kudos to the designer!

[2017-05-23 16:17] jeroenj commented on #227
I like those ones the most too. I guess a white background with a black P with orange lines would be an option too for the avatar?

[2017-05-23 23:20] tleish opened #239 "Gitlab and consolidate_comments"
Does the consolidate_comments config option work for Gitlab?  I have the following in .pronto.yml and it doesn't seem to be consolidating them.

[code]

Or perhaps I'm mis-understanding the feature.  The problem is, when pronto runs and finds multiple items to report, it posts multiple comments in Gitlab and ultimately several people get spammed with lots of emails instead of just one comment and

[2017-05-24 06:26] ivanovaleksey commented on #239
@tleish this feature joins comment for single line of code. For instance, given simple code with Rubocop offences
[code]

[code]

As you can see there are 2 comments for _line 3_.

And if you run Gitlab formatter you will receive only 2 messages
[code]

Note that second message's body is joined comments.
Without `consolidate_comments: true` in config file you will receive 3 separate comments.

[2017-05-24 06:50] ivanovaleksey commented on #239
By the way _consolidate_ looks like too official (and long) word IMO. Wouldn't it be better to use something more explicit - _join_ -  or something more git-like - _squash_?

[2017-05-27 12:42] mmozuras commented on #239
@tleish could you expand on what kind of behavior you expect? A single comment under a pull request with all problems?

Even if `consolidate_comments` is not what you're looking for, we could consider introducing a separate feature/runner 🙂.

@doomspork would love your thoughts on @ivanovaleksey comment about `consolidate` vs. `join`/`squash` 🙂

[2017-05-27 13:07] mmozuras commented on #227
@aergonaut @ivanovaleksey @doomspork @jeroenj thanks for your valuable opinions! I've now changed the avatar to a new beautiful one. I'll give the compliments to the designer 🙇.

[2017-05-27 19:19] tleish commented on #239
We use Gitlab.  The complaint I'm getting my team is when they push a single commit, they get multiple emails (an email per issue reported by a pronto library, since they get an email each time a comment is left).  If this do a single push, and then only get one email for that single push it would be better.  Even, if they could get a single summarized email for single commit it would be better.

[2017-05-27 20:16] ivanovaleksey commented on #239
I use Pronto with GitLab.
But I don't use email as notification service.
Instead I have Slack integration.
In this case receiving multiple comments is totally fine IMO.
Do you have an option to use your team messenger instead of email?

[2017-05-27 20:28] tleish commented on #239
@ivanovaleksey - we use Slack also, but have not integrated it with Gitlab.  In your setup, does gitlab send the notifications to your personal slack, or to a shared slack channel?

[2017-05-28 15:37] doomspork commented on #239
@mmozuras I would personally be hesitant to rename a configuration option that's been released for the better part of a year "just because".  If there's a influx of issues/bugs/complaints because it's confusing then I think it's warranted.  Other than that it seems pedantic.

No one is typing `consolidated_comments` so often that it's taking away from productivity 😁

[2017-05-28 15:41] doomspork commented on #239
@tleish / @mmozuras maybe we could have a new "report" feature that gives you a single summary of all of your issues?

We had a similar issue with my previous employer with there being too many notifications but that to me is indicative of a bigger problem.  When we had individuals producing dozens upons dozens of messages then there was a discussion around code quality, using git hooks, and runni

[2017-05-28 15:45] ivanovaleksey commented on #239
@tleish out of the box GitLab integration with Slack sends notifications to specified channel.
But that is fine in my case since everyone could see code offences. I argree with @doomspork that things should be run locally too.

[2017-05-28 18:58] tleish commented on #239
I agree for something like Brakeman for strong security purposes.  But for more opinionated static analysis styling analysis, it can be considered more opinionated and "suggestions" rather than "failures".  For failures, I'm okay users receiving multiple emails for each offense.  However, for  "suggestion" type analysis an alternative would be nice.

[2017-05-28 19:23] mmozuras commented on #239
👍

Sure. I think a new formatter with this behavior would be fine 🙂. What do you think?

[2017-05-29 09:17] stiller-leser opened #240 ""pronto run" doesn't to do anything, --staged crashes"
I created a bogus file on a bogus branch on my MacOS machine:

[code]
However neither of the following commands yields a result until I have commited the changes:

pronto run (before or after git add .)
pronto run --unstaged (before git add .)

Running pronto run --staged (after git add .) I get the following error message:

[code]
Only after I commit I get to see the error messages of the runners

[2017-05-30 12:13] kevinjalbert commented on #139
I've added a PR (#242) that references an article I wrote that covers this creation point. Hopefully that does the trick for this issue.

I want to say that the best way to approach this is to look at some of the existing runners. They more or less follow a pattern in how they are built.

As for testing, it seems like common the approach is to create a temp git repository in your specs and set up

[2017-06-04 14:26] tleish opened #243 "Does unstaged work?"
Either the `--unstaged` flag does not work, or I am misunderstanding it's purpose.

I've been trying with both `--staged` and `--unstaged` flags.  Pronto is correctly picking up changes in git which are staged, but not yet committed.

I assume `--unstaged` should pick up changes that have not yet been staged into git.  This would include updates to existing files and new files?

Also, is there a w

[2017-06-04 20:14] mmozuras commented on #243
Closing as a duplicate of #240.

Please reopen if what you'll find in #240 does not match your issue 🙂.

[2017-06-04 20:14] #243 closed

[2017-06-05 13:41] tleish commented on #243
Agreed.  I did search before creating ticket, the title of the ticket threw me off as I wasn't having crashing issues so I assumed it wasn't related and therefore didn't read the details.

Thanks

[2017-06-09 17:45] doomspork commented on #239
@mmozuras if there's enough interest in a "report" I'd be happy to help nail down the features/requirements and take a stab at building it.  @tleish would that work for you?

Going back over this I'm wondering if we couldn't solve this by whitelist/blacklist-ing certain "events"

[2017-06-13 16:02] benoittgt opened #246 "PullRequestReviewComment invalid"
Using `pronto 0.9.3`

[code]

[code]

[2017-06-13 19:14] mmozuras commented on #239
@doomspork that would be great 👍

Could you expand on what you mean?

[2017-06-13 19:15] mmozuras commented on #139
@kevinjalbert I love the article, but I want to keep this issue open. As creation of new runners is very important, I think that we need even more documentation 🙂

[2017-06-13 19:19] mmozuras commented on #246
@benoittgt does anything get posted? Could you also add `verbose: true` to `.pronto.yml` and post the log?

[2017-06-13 19:21] kevinjalbert commented on #139
@mmozuras That works for me ;) More documentation never hurts.

[2017-06-13 20:07] doomspork commented on #239
@mmozuras disregard for now, it was a half baked thought 😀

[2017-06-13 20:18] tleish commented on #239
@doomspork - I'm interested in collaborating a solution.

[2017-06-13 23:05] doomspork commented on #239
Sounds great @tleish!  Do you want me to get a branch started that we can work with?  How would you like to proceed? 😁

[2017-06-14 07:55] benoittgt commented on #246
Thanks @mmozuras for the answer.

[code]
It seems it succeed posting. But why I have the error before. VERBOSE show me lot's of info.

[code]

[2017-06-15 18:02] mmozuras commented on #246
@benoittgt thanks for posting the log!

Could you add even a bit more info: what happens with `lib/unique_job.rb` in the offending PR? Is this file deleted, renamed, changed, code removed, code added?

[2017-06-16 07:21] benoittgt commented on #246
It's unrelated. This file is not modified.

[2017-06-16 07:57] benoittgt commented on #246
I get lot's of log for file that are not modified. It's not focused on difference against origin/develop.

I fetch all my branch it's now working. I don't understand why. But that's fixed.

[2017-06-16 07:57] #246 closed

[2017-06-23 11:44] nagarjunac opened #248 "github_pr throwing 404 error"
I am running this command
GITHUB_ACCESS_TOKEN=xxxxxxxx PRONTO_PULL_REQUEST_ID=4 bundle exec pronto run -c origin/opsworks_provision -f github_pr
which is throwing the below error. Unable to resolve it.Please help.

/usr/share/rvm/gems/ruby-2.3.0/gems/octokit-4.7.0/lib/octokit/response/raise_error.rb:16:in `on_complete': GET https://api.github.com/repos/Voonik/devops_tools/pulls?per_page=100: 404 -

[2017-06-23 11:57] nagarjunac commented on #248
Sorry used GITHUB_ACCESS_TOKEN instead of PRONTO_GITHUB_ACCESS_TOKEN

[2017-06-23 11:57] #248 closed

[2017-06-23 17:55] dorner opened #249 "Way to pass arguments into runners?"
It would be great if we could pass extra command-line arguments to Pronto runners. I dived into the code but couldn't find an existing way to do this. For example, I'd like to use Pronto locally to auto-correct Rubocop offenses only on my changes before I push my branch. There doesn't seem to be a way to pass extra options to the Rubocop runner.

Did I miss something or does this need to be built

[2017-06-23 20:31] dorner commented on #249
OK, I just learned about the existence of .rubocop and RUBOCOP_OPTS. -_- Never mind.

[2017-06-23 20:35] dorner commented on #249
Hm, nope again. Pronto uses Rubocop classes directly so it doesn't respect either of those things.

[2017-06-28 18:24] mmozuras commented on #249
@dorner there is no way to do it currently. In your example, it would not be enough to implement passing of parameters. We would need to do additional work to give the relevant lines to Rubocop.

[2017-06-29 07:19] ivanovaleksey commented on #232
And it is moved to 9.4 😞

[2017-06-29 16:00] dorner commented on #249
Actually I'd be fine with using it on the *files* changed rather than the *lines* changed.

I can think of a few other reasons to pass arguments to runners. For example, Rubocop has an argument that lets you specify the minimum level where the return value should be non-zero (i.e. default is that warnings will pass, but you can change that so warnings will fail). Currently there's no way to specif

[2017-06-30 17:55] dorner commented on #249
Btw, I'm experimenting now and it looks like autocorrect works just fine out of the box. I've also figured out a way to bypass Pronto and get config directly into the runner, which is by utilizing `ConfigFile.to_h`. Probably all we need is a method in the base Config class and a method in the base Runner class to retrieve its configuration.

Also, another crucial thing we can't do right now is run

[2017-06-30 18:37] singpolyma-shopify opened #250 "Support HTTParty 0.15"

[2017-07-06 14:45] mknapik commented on #249
@mmozuras I run into that issue while working on a new runner for https://github.com/mbj/mutant.
AFAIK the tool does not provide any configuration via env vars nor config files so I'm looking for a way to pass options to a runner.
I was thinking about utilizing `@config` from runner (using `.pronto.yml`) but it seems it was meant to only support a known lists of options.
What would be a recommende

[2017-07-06 21:16] joaquinmoreira opened #251 "pronto-circleci gem announcement"
Just want to tell you we created the `pronto-circleci` gem for automate connection with circleci. Hopefully it get added to the list in the `README` (if you want prefer i can create a PR to do it).

Github: https://github.com/comparaonline/pronto-circleci
Rubygems: https://rubygems.org/gems/pronto-circleci

[2017-07-07 17:44] bsedat commented on #23
I think I've tracked this down to be coming from the `rugged` gem.
In a new irb console I can run:
[code]
and produce the error consistently. Interestingly, swapping the ordering of the requires seems to fix it.

I'm running it in following environment from an alpine linux 3.6 docker container:
`ruby -v`: `ruby 2.4.1p111 (2017-03-22 revision 58053) [x86_64-linux-musl]`
`gem list | grep rugged`: `r

[2017-07-15 15:07] mmozuras commented on #251
@joaquinrulin I'd love to have it in the README!

It's not obvious to me of the best place to mention it. We have a list of gems, but that's meant only for runners. And we don't have a dedicated section for CI. I think that it should be a separate section under `Usage`. What do you think? Would you write it?

[2017-07-15 15:35] #250 closed

[2017-07-15 15:42] mmozuras commented on #23
@bsedat I see that you're using this workaround:

https://github.com/bsedat/pronto/commit/2079aaef8dd88f3a8faf45fd7124ec7166e6a8ff

Could you explain why it works? Trying to figure out if it's worth including in `master`. Are there any possible negative side effects?

[2017-07-15 15:48] mmozuras commented on #249
@mknapik there is no recommended approach, we have to figure that out 😄.

You can look at how @dorner did it: https://github.com/prontolabs/pronto-rubocop/pulls/dorner. What do you think about this kind of approach for all runners? What would be the alternatives?

/cc @jeroenj @aergonaut @doomspork

[2017-07-15 19:44] doomspork commented on #249
These are kind of different issues, no?  The first being a bug with how Pronto passed configuration (or failed to) down to Rubocop.

The latter I don't see a problem immediately.  If you're writing a new runner wouldn't you handle the ENV/configuration in the runner, translating it to the appropriate arguments for the binary?

[2017-07-16 12:01] mmozuras commented on #249
@doomspork not sure if I follow, so let's try again 😄.

@dorner added additional configuration for rubocop specifically to `.pronto.yml`. See [here](https://github.com/prontolabs/pronto-rubocop/pull/30/files). It seems to me that @mknapik could do it very similarly.

[2017-07-16 16:07] doomspork commented on #227
@mmozuras you can probably close this now 😀

[2017-07-16 16:37] doomspork commented on #249
@mmozuras agreed.

What I meant by my comment was when creating a new runner such as @mknapik is doing, you can access the ENVs in your runner and pass the configuration to the lib you're using; you're not limited by what the library you're using supports.

Code examples are easiest 😀

Here's a runner example:

[code]

If you kick-off pronto with `MUTANT_INCLUDE=lib MUTANT_REQUIRE=virtus MUTANT_US

[2017-07-17 05:43] balogic opened #252 "Issue while running pronto inside my rails application"
I've installed `pronto-0.9.4` and tried to run `pronto run` after navigating to my repository. I've got this error while doing so.
[code]

Ruby - `2.3.0`
Rails - `5.0.4`
Bundler - `1.15.1`

[2017-07-17 07:27] ivanovaleksey commented on #252
Hi @balogic, could you show `rubygems` version with `gem --version`?

[2017-07-17 08:29] mknapik commented on #249
@doomspork @mmozuras Thanks for your feedback! I'll figure out what works best for my case.

[2017-07-17 09:00] balogic commented on #252
@ivanovaleksey My `rubygems` version is `2.6.10`

[2017-07-17 09:08] ivanovaleksey commented on #252
I am not sure but it looks like the problem is with rubygems not pronto gem.

In `rubygems/version.rb:354` we have
[code]
and the error message

smells like there is problem with parentheses

@balogic could you experiment with it yourself?
You can open `/home/balvis/.rbenv/versions/2.3.0/lib/ruby/site_ruby/2.3.0/rubygems/version.rb` with you favorite text editor and replace line 354 with

[code]

[2017-07-17 10:44] balogic commented on #252
@ivanovaleksey I've tried. Again the same error stays.

[2017-07-17 10:56] ivanovaleksey commented on #252
@balogic are you sure about line numbers, because there is similar code in line 355?
Can you inspect values of `lhs` and `rhs`?

[2017-07-17 18:24] bsedat commented on #23
I unfortunately haven't had time to investigate what exactly is breaking - I didn't see any obvious culprits in rugged in a cursory glance but I'm not super familiar with that library. I don't think there are any negative side-effects from my workaround, but I'm hoping it's something that can be fixed upstream in rugged one day.

[2017-07-18 06:44] doomspork commented on #139
@mmozuras did you have additional documentation in mind?

[2017-07-18 06:45] doomspork commented on #133
@ragesoss have you tried Pronto with the `consolidated_comments` option set?  It should significantly reduce the number of messages.

[2017-07-18 08:27] balogic commented on #252
@ivanovaleksey I've inspected and both the values are `0`

[2017-07-18 08:55] ivanovaleksey commented on #252
@balogic to be honest I don't what else can cause the issue 😐

[2017-07-18 11:45] mikegee commented on #133
Also consider using `github_pr_review` rather than `github_pr`. That should make all the comments with one HTTP call.

[2017-07-18 20:13] lipanski commented on #250
@mmozuras can you pretty please release a new version after https://github.com/prontolabs/pronto/commit/96089533df1f3711bb89f63855bb809d59843a5f

we were just about to use pronto in our app, but stumbled upon an httparty downgrade which we don't want.

[2017-07-26 14:52] stiller-leser opened #254 "Pronto runner for inspec"
I have written a pronto runner for chef's inspec and test kitchen. You can find it [here](https://github.com/stiller-leser/pronto-inspec)

I'd call it an alpha version, but I'd love feedback on it. What it allows you to do is to specify which inspec suite should be run depending on the files that have been changed. It currently uses `kitchen test` for each suite, but that could be improved in futu

[2017-07-29 14:43] marvin-bitterlich opened #255 "Delete fixed comments"
One thing that happens on big pull requests is that there are many old comments made by pronto.

![image](https://user-images.githubusercontent.com/644950/28745663-0b5b5c94-747d-11e7-87b9-6e07eec7613b.png)

Would it be possible to add an option to delete old comments made by the bot before new ones are made? This means existing issues are reported again but fixed issues are gone.

[2017-07-31 16:29] supremebeing7 opened #256 "Lint issues already posted to Github PR do not display in terminal"
We're using Pronto with a couple runners on Travis using the Github integration.

After one build, pronto posts comments on the Github PR with all of the lint issues it found **and** it shows the lint issues in the travis build log.

However, if I re-run the build:
- It **does not** post duplicate comments on the Github PR 👍
- It also **does not** display the lint issues in the travis build log 👎

[2017-08-10 10:19] vivekna1 opened #257 "Pronto not sending comments to bitbucket_server"
Whenever Pronto finds some violations, It is printing the data on screen on CircleCi but the comments are not updated against the commit id.

I am using pronto for commit id instead of PR. The command is : pronto run --commit=$(git log --pretty=oneline --reverse | head -1| tail -1 | cut -d ' ' -f1) -f bitbucket_server bitbucket_status.

In the .pronto.yml file I have mentioned the username and pas

[2017-08-15 14:02] mmozuras commented on #250
@lipanski released with [v0.9.5](https://github.com/prontolabs/pronto/releases/tag/v0.9.5).

[2017-08-15 14:05] mmozuras commented on #252
@balogic do you get the same error with newer Ruby version, for example 2.3.4 or 2.4.0?

[2017-08-15 14:05] mmozuras commented on #139
@doomspork yes, I'd like it to be more extensively documented.

[2017-08-15 14:07] mmozuras commented on #254
@stiller-leser thanks for writing it! 🙇

Could you make a PR, adding it to the list [here](https://github.com/prontolabs/pronto/#runners)? 😄

[2017-08-15 14:12] mmozuras commented on #256
@supremebeing7 it's not the expected behavior. What command do you use in your build? Did I understand correctly, you use something like `pronto run -r text github_pr`?

[2017-08-15 14:14] mmozuras commented on #255
@Kostronor I'd accept a pull request adding such behavior. Or would write it one day myself. I would expect it to be optimized to minimize the numbers of requests. Meaning to delete unnecessary comments and do not repost old ones.

[2017-08-15 14:15] mmozuras commented on #133
@ragesoss did @doomspork and @mikegee suggestions help? 🙂

[2017-08-15 17:19] ragesoss commented on #133
I haven't tried them out yet, but plan to soon. Will report back once I do. Thanks!

[2017-08-15 18:42] supremebeing7 commented on #256
`pronto run -f github_pr --exit-code`

Is it the `-f`/`--formatter` flag that's causing this? Will the `-r`/`--runner` flag post to the github PR *and* display in the build log?

[2017-08-16 06:10] mmozuras commented on #256
@supremebeing7 I mistyped, it was supposed to be `-f`, not `-r` 🙃

And what's in your `.pronto.yml`?

[2017-08-16 22:33] supremebeing7 commented on #256
We don't have one, just using the defaults.

[2017-08-20 09:40] mmozuras commented on #256
@supremebeing7 without `verbose` or `text` (formatter), I'm not sure what you were seing in the log. Could you post an example from your travis build log?

[2017-08-20 11:01] mmozuras commented on #227
@doomspork soon 😄

I've added `welcome` repo to serve as the central hub for org related things: https://github.com/prontolabs/welcome.

[2017-08-20 14:51] doomspork commented on #227
Looking good @mmozuras 👍

[2017-08-21 19:59] mbj commented on #249
@mknapik When you are done feel free to PR a readme addition mentioning your integration. OT: I intentionally do not support env variables.

[2017-08-21 20:43] supremebeing7 commented on #256
@mmozuras Sure. This is one where pronto
[code]
We have the test command in a separate shell script, so that's what you see on the first line. We also have 3 test runners on travis, and linting only happens on one (hence the conditional). You can also ignore the readline warnings, those have been present for ages and happen anytime the app boots in travis.

[2017-08-21 20:55] supremebeing7 commented on #256
Oh boy, sorry, I think I gave inaccurate info in my first post.

I just checked the first build for a branch, and it ***does not*** show the lint issues in the travis build log at all. It ***only*** posts as comments on Github PR. It would be ideal if it would post to Github PR *and* show the lint errors in the build log.

With that in mind, is the solution just to run it with two different format

[2017-08-21 21:04] doomspork commented on #256
@supremebeing7 you need to assign the various formatters you want.  If you only have `github_pr` configured that's all that will be run.

[2017-08-21 21:22] supremebeing7 commented on #256
Makes sense! I'll give that a go and if it doesn't work as expected will come back and reopen this.

Thanks.

[2017-08-21 21:22] #256 closed

[2017-08-21 22:05] agibralter opened #259 "Issue with renamed files and github_pull_request_review_formatter"
I think there's a bit of a gnarly issue with the pull request review formatter. When a PR contains a file that has been renamed, github just displays:

![image](https://user-images.githubusercontent.com/1079/29540127-f049875c-869a-11e7-9555-9b0db0b85127.png)

It appears that the diff that Rugged produces, however, includes that patch/delta. This leads to the following error:

[code]

This is becau

[2017-08-21 22:33] doomspork commented on #259
I've got nothing off the top if my head @agibralter but we might be able to filter those files out ourselves inside the github formatters.   I'd take a peak there first, I'll try to set aside some time this week to do a deeper dive.

[2017-08-22 03:55] agibralter commented on #259
@doomspork Ah ok, so I think the approach that makes sense is to use the Github API to figure out which files have patches included in the PR (and thus can be commented on) and to use that as a whitelist for pronto.

Here is a proof of concept:

[code]

[2017-08-22 04:10] agibralter commented on #259
My workaround right now is to have a ruby script run before pronto on our CI, and rewrite the .pronto.yml file with the non-patch files in the all => exclude section. (Unfortunately it doesn't seem like I can avoid rewriting the config file because `ENV["PRONTO_EXCLUDE"]` only allows a single value...)

[2017-08-22 04:14] agibralter commented on #149
Is https://github.com/prontolabs/pronto/issues/259 related to the issues people were running into?

[2017-08-24 13:38] mikkame commented on #23
I get same error.

I tried pach bsedat : /pronto@2079aae .
It is worked.

My environment is  https://hub.docker.com/r/mikkame/docker-pronto-phpcs/
Maybe you can reproduce

[2017-08-26 00:58] abhinavmsra opened #260 "Issue with Bitbucket Integration"
I am trying to integrate with Bitbucket and Sempahore CI. But when i run

[code]

i keep getting following error:

[code]

My `.pronto.yml` files looks like this:

[code]

[2017-08-26 04:31] doomspork commented on #260
@abhinavmsra I do think this is a bug, but there might be two things at play:

1) The `NoMethodError: undefined method `map' for "Not Found":String` is us not doing a good job of handling BitBucket errors
2) The "Not Found" makes me wonder if your slug/user/password combination isn't incorrect and as such they're returning 404 and we aren't handling it.

Thoughts?

[2017-08-26 10:27] abhinavmsra commented on #260
@doomspork actually just noticed, the issue is weirder.

when i ssh into the CI container and run the same command, i runs fine and posts the comments too. Its just when running the command as a build script it fails.

Not sure whats making it fail.

[2017-08-26 15:09] doomspork commented on #260
@abhinavmsra do you have any logs from your CI?

[2017-08-28 10:00] abhinavmsra commented on #260
@doomspork

[code]

[2017-08-28 18:57] doomspork commented on #260
@abhinavmsra this is the line throwing the error: https://github.com/prontolabs/pronto/blob/master/lib/pronto/clients/bitbucket_client.rb#L19

The BitBucket API is returning "Not Found" when we try to pull comments for your project.  Can you double and triple check the username, password, and repo slug are correct?

You might want to confirm you can access to your repo via cURL too: https://conflu

[2017-08-29 08:11] abhinavmsra commented on #260
@doomspork The credentials are correct because

1) I can run the same command from local and it works.
2) Also when I SSH into the Semaphore CI and run the command, it works there too.

Maybe something funky happening with the Semaphore build. I cannot say whether its a Gem issue or a build issue though. I will spend sometime on it and will share my findings.

[2017-09-01 16:01] doomspork commented on #260
Thank you @abhinavmsra!  Please do report back when you have more details, always happy to help 😀

[2017-09-06 15:24] panjan opened #261 "Error handling when PR not found"
Hi,

When you run `pronto run -f github_pr` and [`Pronto::GitHub#pull`](https://github.com/prontolabs/pronto/blob/master/lib/pronto/github.rb#L90) returns `nil` (e.g. because you're on the wrong branch), the code execution continues. As a result, the following request to GitHub API fails with `404 Not Found` because the request goes to `/repos/{company}/{repo}/pulls/comments` instead of `/repos/{c

[2017-09-06 18:41] mknapik commented on #261
So the use case is: `PULL_REQUEST_ID` env var is not set, branch exists both locally and remotely but no PR is submitted for that branch?
Returning informative message sounds reasonable to me.

[2017-09-11 15:05] #254 closed

[2017-09-14 10:53] grodowski opened #263 "Problem with running pronto in a pre-commit hook"
Hey!

I have run into a problem with setting up pronto as a `pre-commit` git hook.

Given there are new rubocop warnings and I have the below script in `.git/hooks/pre-commit`...

[code]

Pronto does what is expected and shows the rubocop warnings when I run:

[code]

But unfortunately I get no rubocop output and a false-positive exit status 0 on

[code]

This is strange and I've been trying to un

[2017-09-16 14:16] volkanunsal opened #264 "Symbol not found: _libiconv_open"
This is the error I get when I run `pronto run`. What am I doing wrong?

[code]

[2017-09-16 16:23] doomspork commented on #264
@volkanunsal have you tried Googling this at all?  I believe you're missing some of your command line dependencies, I don't think this relates to Pronto.

[2017-09-16 16:26] volkanunsal commented on #264
@doomspork There is a lot of noise on Google search results. I haven't gotten anywhere following those threads.

[2017-09-16 16:34] doomspork commented on #264
@volkanunsal can you run the rugged gem outside of Pronto without a problem?

[2017-09-16 21:25] volkanunsal commented on #264
@doomspork Yes, I can. It only seems to happen when I run the binary.

[code]

[2017-09-16 21:38] volkanunsal commented on #264
@doomspork

I've narrowed the error to this codeblock.

[code]

[2017-09-16 22:01] volkanunsal commented on #264
@doomspork

The core issue is the libiconv framework. rugged is using the wrong headers of this framework.

      /Library/Frameworks/libiconv.framework/Headers/iconv.h

Here is how I fixed it

[code]

[2017-09-16 22:01] #264 closed

[2017-09-21 19:22] sunasra opened #265 "Error while configuring with bitbucket"
in .pronto.yml

`all:`
`  exclude:`
`   - 'spec/**/*'`
`# exclude files for single runner`
`bitbucket:`
`  slug: username/repo`
` username: example@test.com`
`  password: xxxxxxx`
`  web_endpoint: https://bitbucket.org/`
`max_warnings: 150`
`verbose: true``

running this command in local
`bundle exec pronto run -f bitbucket_pr -c origin/<branch_name>`

throws this error
[code]

Can anyone let me k

[2017-09-22 12:25] ananth99 opened #266 "Issue with CircleCI integration"
Pronto fails to run in CircleCI after build completes. Running on Rails 4.2.9 and Ruby 2.4.0

circle.yml
[code]

stacktrace after running pronto command
[code]

[2017-09-22 15:11] doomspork commented on #266
@ananth99 could you tell us anymore about your setup?  Unfortunately I don't use CircleCI so I have no experience with it ☹️

[2017-09-22 18:37] jasantunes opened #267 "0 Pronto messages posted to GitHub"
I'm trying to figure out why aren't any the warnings being sent to the PR (the status is being sent though, so I know it's not an auth error).

Here's the output:

[code]

[2017-09-24 19:22] ananth99 commented on #266
We have a manifest file called `circle.yml` which runs the pronto command if it's a Pull Request after the test suite finishes.

The manifest file contains all the machine configs(ruby version, message queue, redis config) etc..
This [link](https://circleci.com/docs/1.0/configuration/#machine) tells you how CircleCI preps the test environment.

Weird thing is I did not run into this issue in my de

[2017-09-28 23:49] ragesoss commented on #133
I tried out github_pr_review and it failed on a PR with lots of new issues:

[code]

None of those 38 messages actually appear on Github.

I tried it with `PRONTO_CONSOLIDATE_COMMENTS=true` (with both `github_pr` and `github_pr_review`) and it posts 0 messages.

[2017-09-29 00:05] ragesoss opened #268 "`foo && foo['bar']` errors with autocorrect"
If I run `rubocop -a` on a file that includes syntax like `foo && foo['bar']`, it errors. I've got rubocop 0.50.0, and I've replicated this on both Ruby 2.3.1 and Ruby 2.4.2.

I get this error even with a file that consists solely of the this:

[code]

[code]

[2017-09-29 00:15] ragesoss commented on #268
Related: this is trying to correct a safe navigation operator violation: `Use safe navigation (&.) instead of checking if an object exists before calling the method.`

I think this rule should not be applied for hash access. IMO,
[code]
is preferable to
[code]

[2017-09-29 15:04] ragesoss commented on #268
Eeek! Sorry, I filed this issue in the wrong tab!

[2017-09-29 15:04] #268 closed

[2017-10-01 08:04] panjan commented on #261
OK, I have a PR for this. Would be grateful for a review. Thanks! 🙏

[2017-10-03 14:08] ananth99 commented on #266
@javierjulio Thanks! I'll try it out and close this issue if it works.

[2017-10-09 14:20] artjomjuferov commented on #267
Have the same issue

[2017-10-15 19:35] mmozuras commented on #260
@abhinavmsra did you manage to get it working? 😀

[2017-10-15 19:58] mmozuras commented on #263
@grodowski thanks for reporting the issue! 🙇

Managed to reproduce it by following the steps you've outlined. Tried a couple of other cases and it shows warnings when using `--staged` with:

[code]

It also shows error when using `--unstaged` flag with:

[code]

That was an AHA moment for me. One workaround that works: having two pre-commit scripts. One for `--unstaged` flag, the other one for `--

[2017-10-15 20:02] mmozuras commented on #265
@sunasra hey, thanks for reporting the issue. It might be a bug with Pronto not handling zero open pull requests. At the time of running the script, did you have any pull requests open?

[2017-10-15 20:04] mmozuras commented on #266
@ananth99 hey, did it work? 😀

[2017-10-17 16:36] sunasra commented on #265
@mmozuras Thanks for Reply.
Pull request is open for branch passed in command. i.e bundle exec pronto run -f bitbucket_pr -c origin/<branch_name>

[2017-10-19 12:03] nbekirov commented on #265
Without actually being able to run the code now and using a public repo (`mailchimp/mandrill-api-ruby`) I think that [bitbucket_client.rb](https://github.com/prontolabs/pronto/blob/master/lib/pronto/clients/bitbucket_client.rb#L23) will try to GET `https://api.bitbucket.org/1.0/repositories/mailchimp/mandrill-api-ruby/pullrequests?state=OPEN` which results in

[code]

Changin the API version to `2

[2017-10-20 19:01] mmozuras commented on #267
@jasantunes there could be a couple different things going on. Could you add "verbose: true" to `.pronto.yml` and post the output you get?

[2017-10-20 19:06] mmozuras commented on #265
@sunasra I can't reproduce it myself. Could you logging to BitbucketClient or use something like [pry](https://github.com/pry/pry) to inspect the `response`?

This is the code we're interested in:

[code]

[2017-10-21 16:38] #227 closed

[2017-10-24 00:41] jasantunes commented on #267
Sure, here it goes:
[code]

[2017-10-24 04:11] adamrek opened #272 "#include "lcmtypes/mav_ins_t.h" // from pronto"
i  want to run the   project of  andybarry/flight ,  but when i finish all step,  i meet a  problem  :
     #include "lcmtypes/mav_ins_t.h" // from pronto
how to figure it ?

[2017-10-24 11:49] Schwad commented on #25
Does this still work? I'm getting the following error trying gitlab integration:  @mmozuras

[code]

If my issue is unrelated or config problem on my end I'll fire up a separate issue.

[2017-10-24 12:52] Schwad commented on #25
Okay, so, I fought long and hard enough with getting the Gitlab integration done that I posted here.... But needed to get this live *stat*.Iif anyone else is struggling and just wants their integration fired up and working shove this in your gitlab CI and you won't need the gitlab formatter:

[code]

Hopefully I get the configuration sorted some other time.

[2017-10-25 06:34] adamrek opened #273 "i cant find any directory named lcmtypes/mav_ins_t.h from pronto"
i want to run the project of andybarry/flight , but when i finish all step, i meet a problem :
#include "lcmtypes/mav_ins_t.h" // from pronto
how to figure it ?

[2017-10-25 09:00] sauliusgrigaitis opened #274 "Gitlab integration stopped to work"
It doesn't work since 9.0 release.

[code]

[2017-10-25 09:25] sauliusgrigaitis commented on #274
The solution is to replace `%2F` with `/` in Gitlab slug.

[2017-10-25 09:25] #274 closed

[2017-10-25 23:09] doomspork commented on #273
@adamrek can you provide anymore details?  Is there a sample project available we can use to reproduce the issue?

[2017-10-25 23:10] doomspork commented on #272
@adamrek one issue per bug is sufficient, let's focus on #273 👍

[2017-10-25 23:10] #272 closed

[2017-10-26 23:38] jeromedalbert commented on #105
I'm gonna close this PR for now, since there does not seem to be much demand for it.

Also, my main use case for using a Pronto-as-a-Service is moot, since these days I am using pronto directly with my CI server (Codeship) thanks to the trick explained in [this blog post](https://christoph.luppri.ch/articles/2017/03/05/how-to-automatically-review-your-prs-for-style-violations-with-pronto-and-ruboc

[2017-10-26 23:39] #105 closed

[2017-10-27 06:23] mmozuras commented on #25
@Schwad it seems you've found some sort of bug. Could you create a separate issue for the problem you've encountered?

[2017-10-27 07:39] adamrek commented on #273
@doomspork i want to run the project      http://github.com/andybarry/flight     and   i follow the step     https://github.com/andybarry/flight/wiki

[2017-10-27 07:41] adamrek commented on #273
@doomspork   when i start the  install pronto   and  use the command      make -j    i  meet the problem

[2017-10-27 07:43] adamrek commented on #273
@doomspork   and  i clone the libbot  , i also meet some problem ..  i dont know how to tell the detail in english.

[2017-10-27 18:40] Schwad commented on #25
Yeah, either that or I'm just not clever enough to set up the config. 😬 will try to fire up a separate issue with an app to replicate the "bug".

Sent from my iPhone

[2017-10-30 08:09] adamrek commented on #273
i follow the step  install pronto

cd pronto
git checkout 8f8a38bbc9c1552d99b496c194a9df726e1b5f67
cd ..
make -j

 the result:   引用不是一个树：8f8a38bbc9c1552d99b496c194a9df726e1b5f67

[2017-10-30 09:30] mknapik commented on #273
https://github.com/andybarry/flight/wiki/Install-Pronto

https://github.com/andybarry/flight links to https://github.com/oxfordrobotics/pronto-distro which contains https://github.com/openhumanoids/pronto as a subrepository.
Can't find the git ref but I'm pretty sure you're referring to a wrong project.

[2017-10-30 09:32] #273 closed

[2017-10-30 11:06] adamrek commented on #273
@mknapik  thank you，i will follow your suggestion and try  tonight

[2017-10-30 12:50] adamrek commented on #273
@mknapik     i input       make -j    , but i cant connect google .... because i m in China .

[2017-10-31 02:09] adamrek commented on #273
i clone the pronto from  https://github.com/oxfordrobotics/pronto-distro  and when i  use  the command  : make -j  . i should connect the lcm.google.com   to  download some files,  but  the reaction is   404 not found , how can i download these files  in the new website?

[2017-10-31 02:11] adamrek commented on #273
i need downloead   the two files  named    lcm 1.0.0/configure   and  lcm 1.0.0/makefile

[2017-10-31 12:38] mknapik commented on #273
@adamrek Try opening an issue on https://github.com/oxfordrobotics/pronto-distro and consulting with maintainers. https://github.com/prontolabs/pronto is a different project.
`prontolabs/pronto` is a code quality tool written in Ruby and I guess you're looking for a C++ project.

[2017-11-06 11:51] alexanderadam opened #275 "gogs / gitea / drone integration"
Thank you very much for pronto. 🙌

I just wanted to ask how / whether it would be possible to integrate pronto with [gogs](https://gogs.io/) / [gitea](https://github.com/go-gitea/gitea) and [drone](https://github.com/drone/drone).

[2017-11-06 16:54] doomspork commented on #275
@alexanderadam I have never used these but I don't see why it wouldn't be possible to integrate Pronto, it's been done with other CI tools.

[2017-11-14 23:14] Zechtitus commented on #218
is any work happening with this issue? got bit again today and devs were spammed with 500+ emails.

funny from one perspective... but still stemming from the renaming issue above.

[2017-11-15 14:56] mknapik commented on #218
Does Pronto try to put a comment on every line for the new commit or a comment to every line in commit in which the line has been (really) changed?
Does the issue appear for other formatters? (e.g. default command line).

[2017-11-17 15:18] Schwad commented on #218
@Zechtitus does this happen within any particular runners? Do you think this is isolated to gitlab only?

[2017-11-17 15:33] Schwad commented on #218
Okay, here is an explicit 'steps to reproduce' on my end. @Zechtitus please confirm if this is the bug you're concerned about.

Tested with pronto-rubocop runner:

`git checkout -b pronto-testaroo`
`Switched to a new branch 'pronto-testaroo'`
`pronto run`
`#=> nothing`
*add double quoted string unnecessarily*
`git add -A`
`git commit -m 'inserts bad string'`
`pronto run`
`test_file.rb:1 W: Prefer

[2017-11-19 18:45] Zechtitus commented on #218
That looks about right

[2017-11-23 07:36] hsyntnc commented on #230
But do you have a solution for this error? I'm getting the same error.

[2017-11-23 16:35] Schwad commented on #76
@siebertm I have no idea at all if it's related but I have had some issues with the gitlab integration on pronto. Do you have an 'example app' or something similar where we can replicate this error?

[2017-11-23 17:21] siebertm commented on #76
Well, this was 2 years ago, we don't use submodules anymore... (they are evil :-p)

So, I have no stakes anymore in this issue...
(could be closed if it was for me)

[2017-12-06 21:24] agibralter commented on #259
@doomspork I just came across this again. Did you ever have a chance to take a look?

[2017-12-14 16:52] Schwad commented on #182
@peeyushsingla do you feel that this issue has been resolved by the formatter released in `v0.9.0` or does this issue need to remain open?

[2017-12-30 14:06] Schweigert opened #277 "Pronto crash on Travis CI"
Pronto is crashing on Travis CI :/

[code]

[2018-01-02 18:05] mknapik commented on #277
Not sure if `PULL_REQUEST_ID` is still supported. Could you try using `PRONTO_PULL_REQUEST_ID` instead?

[2018-01-02 18:07] doomspork commented on #277
It should throw a deprecation warning but I don't see that here 🤔  https://github.com/prontolabs/pronto/blob/669177ddbda2c2f6502b9691188e032a0127fbdc/lib/pronto/client.rb#L11

[2018-01-03 12:09] Schweigert commented on #277
Yes. I change to PRONTO_PULL_REQUEST_ID :+1:
It's breaking with Ruby 2.6dev (Travis ruby-head version) now. :/

[2018-01-08 19:26] Schweigert commented on #266
Hi,
I'm using this to solve this issue:
[code]

[2018-01-11 01:31] micjabbour opened #280 "Where should the access token for GitHub/GitLab be provided"
Suppose I want to run pronto in my GitHub project's travis CI script. I can add a new stage in my script that is responsible for running pronto. I have two options to provide a github user access token:

1. In `.pronto.yml` file, but this has the obvious disadvantage that anybody with access to the project can read my access token and impersonate my automatic code review bot.

2. As an environment

[2018-01-15 15:19] npetkov commented on #277
@Schweigert Try using [rugged](https://github.com/libgit2/rugged) from master, it's fixed for 2.5/2.6 but still no new release though.

[2018-01-15 15:39] Schweigert commented on #277
Thanks @npetkov  =D

[2018-01-15 15:39] #277 closed

[2018-01-18 11:49] giedriusr opened #281 "ArgumentError while running pronto run in Ruby 2.5.0"
Hi,

My environment:

[code]

I am in my local branch, all changes has been committed and pushed to remote branch. When I try to run pronto, it gives me:

[code]

With ruby 2.4.1 it works.
[code]

Not sure if it is only ruby related or is there anything else. Anyone else is having similar thing?

Update: in TravisCI I see that there is no Ruby 2.5 support. Any plans to support it?

[2018-01-18 11:51] giedriusr commented on #266
This is CircleCI related only from my experience. I also used a similar approach to make it work since default `pronto run -c origin/master` doesn't work there. This issue could be closed IMHO.

[2018-01-18 14:12] knightq opened #282 "Relax rainbow spec to allow rainbow 3.0.0"

[2018-01-18 15:30] Schwad commented on #266
Yeah I agree with @giedriusr ; unless @ananth99 has any further issues this appears like a resolved issue to me 😄

[2018-01-18 16:49] Schweigert commented on #266
A few days ago I had this problem. I solved using the new flag `PRONTO_PULL_REQUEST_ID` to pass the PR id.

`export PRONTO_PULL_REQUEST_ID=${TRAVIS_PULL_REQUEST} && bundle exec pronto run -f github_pr -c origin/${TRAVIS_BRANCH}`

[2018-01-19 19:31] doomspork commented on #282
@knightq could you provide some additional information?  Is there a reason for this change?  Should we be looking at updating to 3.0?

[2018-01-22 22:02] vinceatbluelabs commented on #281
I ran up against the same issue when I tried upgrading to Ruby 2.5 while using Pronto.
 It's fixed upstream here, but they haven't rolled a new release yet: https://github.com/libgit2/rugged/pull/730

[2018-01-28 20:58] Schwad commented on #205
@janpaul123 is this something you'd be keen to work on a PR for?

[2018-01-29 06:17] janpaul123 commented on #205
Nope, sorry, only a minor issue.

[2018-02-15 11:33] skatkov opened #284 "Pronto is failing to post reviews to github pull request"
Using CirlcleCI with github.

Here is my Gemfile.tools

[code]

And my config.yml (using CircleCI):

[code]

I'm from time to time run into this issue, then pronto fails to post review:

[code]

I've SSH'ed into machine, but my tmp/ folder for project is missing.
I tried to reproduce locally by running `bundle exec pronto run --staged` and couldn't reproduce

I'm a bit lost trying to understand re

[2018-02-15 15:09] nbekirov commented on #284
Maybe this is related to #149.
There are also some debugging suggestions in the comments that might be helpful.

[2018-02-23 18:09] joker-777 opened #285 "How to handle reverts which also revert fixed style guide issues?"
Hi,

We were wondering if you have any ideas how to handle reverts which also revert style guide fixes so pronto will fail afterwards.

Thanks!

[2018-03-04 06:19] amo-wtag opened #286 "How can I use pronto for Angular and Java"
Hello Alturist,

I want to integrate pronto for my Java and Angular github branch, but I cannot find any solution for doing this...

Would you please guide how can I integrate pronto in Angular and Java?
Is it possible to integrate in Angular and Java?

Thanks in advance,
Amit

[2018-03-04 16:38] doomspork commented on #286
Howdy @amo-wtag!  We don't provide hands on support or setup instructions at this time.  You should be able to find everything you need in the README to run Pronto for both Java and JavaScript.  We even have a section of articles and tutorials: https://github.com/prontolabs/pronto#articles

You'll need to start by identifying which runners apply to your project: https://github.com/prontolabs/pront

[2018-03-04 16:38] #286 closed

[2018-03-06 05:01] dylanpinn commented on #282
@doomspork  I am currently getting this error message whilst adding this and the latest reek to my project

[code]

[2018-03-09 19:40] JackWink opened #288 "Exit 0 Status Code on Report Failure"
We've noticed that pronto exits with a code of 0 when it fails to report to Github. `--exit-code` seems to only report non-0 exits when there is a lint error, not an internal failure.

Right now we're working around it by capturing stderr and testing for it to be empty:

[code]

But it would be nice if there were an additional flag to specify an exit code for reporting issues or internal pronto er

[2018-03-21 21:47] vochicong commented on #240
My workaround:
- Git reset newly added (Ruby) files once and re-add later after `pronto run --staged`
- Check the newly added (Ruby) files by running separate checkers (Reek, Rubocop, ...)

https://gist.github.com/vochicong/9c58ffbe045772fc2d4010b0b7c63f41#file-precommit-part1-sh
https://gist.github.com/vochicong/9c58ffbe045772fc2d4010b0b7c63f41#file-precommit-part2-sh

[2018-04-14 19:46] apiology opened #291 "Rugged::TreeError when running against newly added files"
## How to reproduce:

Stage a new file in git that should be analyzed (e.g., a Ruby file) and run pronto, asking for results on staged tree:

[code]

## Expected result:

New file is analyzed

## Observed result:

[code]

[2018-04-30 22:25] laurenbrandstein commented on #167
+1

[2018-05-10 13:22] zhuravel opened #294 "[Enhancement] Support the GitHub Checks API"
Learn more about Checks:
https://developer.github.com/changes/2018-05-07-new-checks-api-public-beta/
https://help.github.com/articles/about-status-checks/#checks
https://developer.github.com/v3/checks/

![checks_annotation](https://user-images.githubusercontent.com/1140581/39871759-82d8f1ec-546e-11e8-9f40-dce4aed95c7b.png)

[2018-05-15 07:17] mknapik commented on #294
IMO looks very promising! I only wonder if we should wait until it leaves the beta or assume the API won't change that much and jump into implementation.

[2018-05-15 10:55] Apelsinka223 opened #296 "Post to github failed with error "Position is invalid""
[code]

circleCI config
[code]

ruby - 2.3
pronto-gem 0.9.5

[2018-05-16 14:15] taleh007 commented on #296
The same error

[2018-05-16 17:19] Apelsinka223 commented on #296
Now works, but I didn't change anything

[2018-05-24 10:37] siebertm commented on #232
This API seems to be implemented in 10.8 release :-D https://docs.gitlab.com/ce/api/discussions.html

[2018-06-05 11:06] micjabbour opened #297 "Change default gitlab api endpoint"
[GitLab is removing API v3](https://about.gitlab.com/2018/06/01/api-v3-removal-impending/). I think that we only need to change [the default gitlab api endpoint](https://github.com/prontolabs/pronto/blob/e5e7f822c7958718aa16b82bd555256ed1f24404/lib/pronto/config_file.rb#L19) to point to `https://gitlab.com/api/v4`. I have done a quick test locally and nothing seems to break (but I wanted to make s

[2018-06-08 01:03] doomspork commented on #297
@micjabbour please open a PR 👍

[2018-06-12 21:30] #297 closed

[2018-06-15 02:21] kevinjalbert commented on #294
Looks like its also only for GitHub Apps at this point.

Correct me if I'm wrong, but pronto still runs using an Access Token? Thus not really qualified as a GitHub App.

[2018-06-18 18:38] brunofrank opened #299 "Doesn't generate messages with gitlab format"
Pronto doesn't work just when the formmater is gitlab, I tried to figued it out, but everything looks good to me.

## Gemfile
[code]

## Command
`bundle exec pronto run -c origin/master -f gitlab`

## pronto.yml
[code]
## Stack
[code]

[2018-06-25 07:25] berniechiu opened #300 "Support for Ruby Critic?"
I wonder if there's any support for [https://github.com/whitesmith/rubycritic](https://github.com/whitesmith/rubycritic)

I can start working on it if it's one of the milestone and compatible for the `pronto` gem, thanks.

[2018-06-25 08:56] mknapik commented on #300
Each runner is a separate gem and most of each are independent projects: https://github.com/prontolabs/pronto#runners
Feel free to create it if you think such runner would be useful.
That being said, it seems the functionality or `rubycritic` and `pronto` overlap a little bit. Does `rubycritic` provide any extra rules except for the ones which come from it's dependencies? I can see `rubycritic` is

[2018-06-25 08:58] berniechiu commented on #300
I see thanks, I'll look into it.

[2018-06-25 08:58] #300 closed

[2018-07-04 17:52] jairojj commented on #230
Any solution for this error?

[2018-07-06 07:57] iggant commented on #230
I ended up with this code:
you create some executable file: pronto.sh
inside put:

`git fetch origin develop:refs/remotes/origin/develop`
`NODE_ENV=development pronto run -f bitbucket_pr -c origin/develop`
`if [ $? -gt 0 ]; then`
`  NODE_ENV=development pronto run -f bitbucket -c origin/develop`
`fi`
` echo 'Pronto Complete'`

[2018-07-11 22:01] xBartu commented on #299
Does anybody working on it?

[2018-07-12 21:31] dimitrovv opened #302 "f2018071301 - Add option for warnings per pr review"
I would like to suggest a feature that will allow **limiting** the number of comment per **PR** review.
Currently, we are experiencing issues creating **PR reviews** in case the comments to publish are more (ex **100** etc). We are using the `github_pr_review` to publish comments to a **Github Enterprise** PR.

I suspect the **GHE** is not able to serve this request and returns **502**.
I believe

[2018-07-13 02:43] run26kimo commented on #230
I add a commit for fix it

https://github.com/run26kimo/pronto/commit/c16b1c3c78a3c3772d5a9e12e691817ab77f056b

[2018-07-18 23:54] chimame opened #306 "Support Merge Request diff comment for GitLab"
### Problems and suggestions
I want to correspond to diff comment in Merge Request of GitLab

### Countermeasure
Currently only commit comment is supported, but we would like to insert comments in diff comment if possible. By doing so, the development team can easily grasp all indications by checking diff.

Fortunately [gitlab](https://github.com/NARKOZ/gitlab) corresponds to it.

https://github.c

[2018-07-19 11:01] dsander commented on #299
This is probably related to GitLab [removing API version 3 support in GitLab 11.0](https://docs.gitlab.com/ee/api/v3_to_v4.html). We were able to fix our setup by changing the API version to `v4` in `PRONTO_GITLAB_API_ENDPOINT`

[2018-07-28 09:47] mmozuras commented on #23
I assume that this issue is no longer valid (due to changes in newer versions). To anyone who reads this - please re-open if you encounter this issue 🙂.

[2018-07-28 09:47] #23 closed

[2018-08-02 14:11] gingerlime commented on #285
@mmozuras any suggestions on how to deal with this scenario. We might create a big change, which involves some styleguide fixes. But then if we discover a bug, and need to revert quickly, the last thing we need is to also worry about re-applying styleguide fixes again on the revert... Is there any way to tell pronto to skip checks on revert commits? Or any other ideas how to deal with this kind of

[2018-08-03 10:14] exu opened #307 "Gitlab CI integration isse"
Hello,

I have issue with posting changes to gitlab, credo and pronto installed properly, credo is returning issues properly.

The same issue occurs on local and docker environent.

Ruby 2.5.1, pronto 0.9.5

Some ideas what I'm missing out ?

`/home/exu/.gem/ruby/2.5.0/gems/gitlab-4.4.0/lib/gitlab/objectified_hash.rb:26:in `method_missing': wrong number of arguments (given 2, expected 1) (Argument

[2018-08-16 03:39] max-konin opened #310 "Gitlab integration error"
Hi.

I'm using Gitlab.com's hosted service.
pronto version - 0.9.5
Error:
[code]

[2018-08-20 12:46] panjan opened #312 "Release new gem version"
Hi,

First of all, thanks for the great gem! ❤️

The last version was released [more than a year ago](https://rubygems.org/gems/pronto/versions). Are there any plans for the next release?

[2018-08-20 20:44] aergonaut commented on #312
cc @prontolabs/core

[2018-08-31 18:45] mknapik commented on #285
Assuming you're talking about GitHub checks on pull request, wouldn't ignoring the check and mergin be enough?
Or is it about pronto exit code on CI?

[2018-09-01 05:55] gingerlime commented on #285
@mknapik It’s failing the CI build unfortunately...

[2018-09-03 13:53] kubamahnert commented on #312
Simply tagging the version in git would also suffice. This way, when we want to use newer code than the one released in 0.9.5, we have to reference your commit hashes directly. That's not really pretty..

[2018-09-06 16:53] t3hk0d3 commented on #291
Same.

I wonder how did this bug got into release, coz it is quite trivial.

[2018-09-07 22:43] aergonaut commented on #294
If there were a Checks API formatter, then that could use App credentials instead of Access Tokens. I would not see Checks API replacing the existing GitHub-oriented formatters, just providing an alternative.

[2018-09-07 22:43] aergonaut commented on #294
This also makes me think we should make the formatters pluggable like the runners are. That way the community could provide a Checks API formatter without needing to have it merged to the main gem.

[2018-09-26 02:21] agibralter opened #315 "Octokit::BadGateway 502 - Server Error"
For PRs with many linting violations, it seems that the GitHub API is choking using the `github_pull_request_review_formatter`. Should there be a maximum payload size?

[2018-09-26 02:43] agibralter commented on #315
Yeah, so I just confirmed that reducing the payload of this particular payload allowed the PR review from pronto to go through. I'm not sure if this is the number of comments, or if there's a particular file with too many comments. I'm not entirely sure how to debug this any further though because the 502 error from GitHub is pretty opaque.

[2018-09-26 03:52] agibralter commented on #315
(I contacted GitHub support about this—will report back if I hear anything.)

[2018-10-01 14:12] agibralter commented on #315
This is what I got back:
![image](https://user-images.githubusercontent.com/1079/46293821-7ed2a100-c562-11e8-87ae-5774082beff1.png)

[2018-10-02 15:19] mikegee commented on #315
I think you can configure the maximum number of offenses to report back to Github since this PR: https://github.com/prontolabs/pronto/pull/127

Maybe try dialing that down?

[2018-10-02 15:50] agibralter commented on #315
Ah good call. I think I'll close this as it's not clear what we can do on the pronto side to change this. Perhaps Github (and thus octokit) will impose payload limits in which case pronto may need to adjust its use of octokit... but until then we can't really do anything.

[2018-10-02 15:50] #315 closed

[2018-10-10 17:58] jmadkins commented on #267
We ran into this issue as well. Any updates?

[2018-10-11 08:58] matt-hh commented on #265
Hi,

running into the same issue... 🙈

You can reproduce it with your account password, but you need to create an app password...
https://developer.atlassian.com/bitbucket/api/2/reference/meta/authentication#basic-auth

This issue can be closed.

[2018-10-13 16:29] #296 closed

[2018-10-19 11:38] siebertm commented on #312
we're running into the same issue as @dinhhuydh, also https://github.com/aergonaut/pronto-goodcheck/issues/1

Our solution for now is to use the `master` directly in our Gemfile. Not ideal but "works"

[2018-10-19 13:47] dinhhuydh commented on #312
@siebertm Same here.

[2018-10-20 12:55] volkanunsal commented on #118
There is also [ruby-git](https://github.com/ruby-git/ruby-git). Rather than using a system library, it uses the git CLI interface to communicate with Git.

[2018-10-23 15:21] Apelsinka223 opened #317 "Method missing with gitlab"
Hi, got error with gitlab integration

ruby - 2.3
gitlab - 4.6.1
pronto - 0.9.5

[code]

[2018-10-25 20:13] jaydorsey opened #318 "Using staged & unstaged flags don't function as expected"
Using `pronto run` works for me every time when I'm on a branch.

Using `pronto run --staged` and `pronto run --staged` never work as expected. Example of the behavior I'm seeing below. The rb file in the picture has an indentation error I introduced.

![image](https://user-images.githubusercontent.com/191564/47526795-d832a500-d86e-11e8-9022-3dd0592e13cf.png)

This creates an issue for my workflow

[2018-10-31 03:51] rnitta opened #319 "Github review comment should be "REQUEST_CHANGES" mode"
https://github.com/prontolabs/pronto/blob/899c6f270ed80cce1585abf1cf1b0006899021f3/lib/pronto/github.rb#L52

Now it is submitted with "COMMENT" mode.
it should be "REQUEST_CHANGES" (and this is also semantic).

Or, the mode should be selectable by user.

thoughts?

see also:
https://octokit.github.io/octokit.rb/Octokit/Client/Reviews.html#create_pull_request_review-instance_method
https://develope

[2018-10-31 21:09] mikegee commented on #319
seems legit to me 👍

[2018-11-01 12:11] mknapik commented on #319
I like the idea of submitting as Request Changes but making it default and only option seems to be pretty arbitrary.
I think it would be better to make the mode configurable so we don't impose any particular workflow on users.

[2018-11-17 04:06] remz99 commented on #317
I ran into the same error recently and by setting the api_endpoint in my pronto config for gitlab to `https://gitlab.com/api/v4` resolved it.  The pull request(https://github.com/prontolabs/pronto/pull/298) to fix this is still unreleased https://github.com/prontolabs/pronto/blob/master/CHANGELOG.md

[2018-11-19 02:33] agibralter commented on #259
Should I attempt a PR?

[2018-11-19 21:17] mknapik commented on #259
Sure, PR is welcome!

[2018-11-19 21:19] mknapik commented on #317
@Apelsinka223 Feel free to reopen the issue if you're getting the same error when using the newest version from master.

[2018-11-19 21:19] #317 closed

[2018-11-23 11:47] blackjid commented on #294
https://github.com/haya14busa/reviewdog is a similar project that has checks API support. They have a server that receives the comments from the linter and the server communicates with the githubs Checks API.

Maybe this is a good approach. A simple server that anyone can run in a small heroku instance.

[2018-11-27 19:37] deiga opened #322 "Add example images for formatters"
It's currently quite a hassle to figure out what Formatter to use as there isn't a comprehensive documentation or example images of the output.

Please add example images of Formatter outputs :)

[2018-11-27 21:11] doomspork commented on #322
@deiga this would be a great addition, would you be willing to contribute those changes?

[2018-12-11 21:52] xBartu commented on #317
I am getting exactly the same problem, background info, I just got the release from the Github and updated gem locks. Any update on that issue?

[2018-12-17 14:43] bazzottigabriele opened #323 "diff with upstream branch"
I would like to check the difference with the upstream branch using something like  `pipenv run pronto run -f gitlab --commit=upstream/develop --exit-code`  but without creating an upstream in the gitlab docker. So there are a method to check the difference with an external branch?

[2018-12-18 15:36] williampollet commented on #312
Same issue here, `react_on_rails` depends on `rainbow`  `3.0`.

[2018-12-26 10:30] printercu commented on #291
Seems like it's fixed in https://github.com/prontolabs/pronto/commit/005ca38e0443d1afcd7d45793cd9ac46400aeea2

[2018-12-26 11:01] printercu commented on #263
Just faced this issue. Using master to resolve Rugged::TreeError.
@mmozuras do you have any updates on how to make it work with both `--staged --index` given?

As a workaround I run pronto second time for new files:
[code]

[2018-12-26 11:36] grodowski commented on #263
@mmozuras I've been working on a coverage tool that integrates with git (and Pronto), which combines `staged` + `unstaged` [by default, like this](https://github.com/grodowski/undercover/blob/976698da3a2e64e912dd8c2c8053d20b514de94d/lib/undercover/changeset.rb#L68-L81). I might be able to port this to `pronto` as a new flag or a combination of the two.

[2018-12-28 14:07] waterjump commented on #291
It looks like we have to wait til the next version bump, or use a fork until then.

[2018-12-28 22:08] alessio-signorini opened #324 "GithubSpec Test Fails (Pronto::Github#create_pull_request_review with comments)"
Master branch tests are failing with the following error
[code]

[2018-12-28 22:16] alessio-signorini opened #326 "Wrong Accept Header in Github.create_pull_request_review"
According to [Github API documentation](https://developer.github.com/v3/pulls/reviews/#create-a-pull-request-review) the correct Accept header for this call is
[code]
but the current code sends
[code]

[2018-12-28 22:40] alessio-signorini opened #328 "Stop Considering renamed-only Files as Additions"
The current implementation of `Git::Repository` does not handle correctly file renames. These are the considered **additions** and create numerous issues when trying to submit Github PRs. A few of the linked issues I could find are:
1. Pronto doesn't handle file renames well (#69)
2. 422 - Validation Failed (#149)
3. pronto having issues with renamed files (#218)
4. Issue with renamed files and gi

[2018-12-28 23:19] alessio-signorini opened #330 "Do Not Require to run From a Git Repository"
The current implementation forces the user to run `pronto run` from a Git repository. This can be inconvenient and creates issues when the gems can not be added to the local Gemfile due to conflicts with others in the project. For example, `foreman-0.85.0` requires `thor-0.19.1` and will not allow `pronto-0.9.5` to install.

[2018-12-29 20:32] #326 closed

[2019-01-06 00:41] sfiddy commented on #264
Does anyone have another solution for this? I tried installing the way @volkanunsal suggested but I'm still getting the following error when i run pronto:

[code]

[2019-01-17 02:08] djpate commented on #312
:+1:  is the project dead?

[2019-01-17 14:50] doomspork commented on #312
@djpate there are commits from just a few days ago, no the project is not dead, that's a foolish thing to ask without even evaluating the project. The project owner, with RubyGem access, has been preoccupied with personal matters. The other maintainers and I on @prontolabs/core have been working very hard to keep things moving.

Please be mindful and considerate of the people who dedicate their fr

[2019-01-23 07:18] aadityataparia commented on #288
Same problem. We want to exit with non-0 status when there in a failure (not lint error) and 0 exit code when there are only lint errors.

[2019-02-03 12:07] mmozuras commented on #319
I agree with @mknapik - "request changes" makes sense as the default and I think that we should be it configurable.

[2019-02-03 12:15] mmozuras commented on #312
I've just pushed a new gem version - [v0.10.0](https://github.com/prontolabs/pronto/releases/tag/v0.10.0).

I haven't been a good steward of this project for the last year. Over this month I'll try to consider options on how to make it better. Thanks everyone for your patience! 🙇

[2019-02-03 12:16] #312 closed

[2019-02-04 11:38] siebertm commented on #312
Thanks @mmozuras!

If this'd be a issue on the tracker, would you mind mentioning me? We're relying on pronto in our core workflows, so we'd like to be on top of things here, no matter what the outcome!

[2019-02-20 16:01] kofronpi commented on #315
This is still an issue as I first installed pronto today. And the comment threshold seemed to be < 150
I'm using a personal API token for a company repo, is that why ? It finally went through for 18 comments though...

[2019-03-08 11:06] UtsavPreet commented on #267
We ran into the same issue, any updates ?

[2019-03-21 15:48] oreststetsiak commented on #267
same issue ....

[2019-03-22 09:57] oreststetsiak commented on #267
hi @artjomjuferov !
any luck with this ?

[2019-03-23 17:46] oreststetsiak commented on #267
have some update
[code]

working fine without **github**

[2019-03-26 14:13] gyfis commented on #167
I'm looking into implementing this, since some of our PRs get very polluted and messy. I only checked GitHub API, but it seems that comments that are outdated are easily recognizable by `position == nil && position != original_position`. I think that'd be a good start; I hope both bitbucket and gitlab have something similar.

For comments that are not on line originally, it's easy as well since th

[2019-03-26 14:13] gyfis commented on #255
I'm looking into implementing this, since some of our PRs get very polluted and messy. I only checked GitHub API, but it seems that comments that are outdated are easily recognizable by `position == nil && position != original_position`. I think that'd be a good start; I hope both bitbucket and gitlab have something similar.

For comments that are not on line originally, it's easy as well since th

[2019-03-28 07:21] reckerswartz opened #336 "undefined method `merge' for false:FalseClass"
Env:- rails 6.0.0.beta3 , ruby-2.6.2

fresh installation through Gemfile:- `gem 'pronto', github: 'prontolabs/pronto'`

`bundle exec pronto run`

Issue:-

[code]

https://github.com/prontolabs/pronto/blob/75329bf38a41891bd691c181cd6d4b9a02282aba/lib/pronto/config_file.rb#L59

[2019-03-31 16:11] #336 closed

[2019-04-06 18:45] Strnadj commented on #232
PR https://github.com/prontolabs/pronto/pull/308  ;)

[2019-04-23 05:34] kwokster10 opened #338 "Excluded_files listed in .pronto.yml are ignored if it does not exist but results in No such file or directory error on runner initialize"
### Issue background:
Using Gitlab CI to build a docker image, where the`PRONTO_GITLAB_API_PRIVATE_TOKEN=${TOKEN} bundle exec pronto run -f gitlab -c origin/master --exit-code` command is run in the container that is spun up.

When the image is built, several files are ignored, including the `README.md`.

`README.md` has been added to the `.pronto.yml` exclude but is not returned by `Dir['README.m

[2019-04-27 09:50] sobolevn commented on #317
I am also getting this with `0.9.5`

[2019-05-05 10:36] mmozuras commented on #317
@sobolevn could you check if that's still the case with `0.10.0`?

[2019-05-05 13:46] sobolevn commented on #317
@mmozuras well, I actually cannot update, since a lot of plugins (`json`, `yaml`, `spell`) relies on `0.9.5`. I have opened several issues to upgrade the versions.

[2019-05-06 19:24] drewish commented on #133
I've also been hitting this even using the `github_pr_review` formatter. Is there a comment count that triggers that? Could we stop below that threshold and just indicate that there are more errors remaining?

[2019-05-14 16:49] drewish commented on #133
I reached out to GitHub to see if there's a PR comment limit we could use to stay under the abuse threshold. If they get back to me I'll open up a PR to cap the number of comments.

[2019-05-14 20:30] drewish commented on #133
I guess https://github.com/prontolabs/pronto/pull/304 would help address this too.

[2019-05-18 12:45] #302 closed

[2019-05-18 13:20] dimitrovv commented on #302
@doomspork, @mmozuras, thx for reviewing & merge. WDYT, is it possible to bump the version so we start using this feature?

[2019-05-18 15:24] doomspork commented on #302
Howdy @dimitrovv, I'd _love_ to close out a couple more outstanding PRs before cutting a new release. If you have some time to review the outstanding PRs I'd love to get your thoughts.

We're always looking for new org members 😉

[2019-05-18 15:32] doomspork commented on #322
Howdy @deiga thought I'd check in again, would this be something you're willing to contribute? Otherwise let's close this issue.

[2019-05-18 19:50] dimitrovv commented on #302
I would love to, all we need is time 😉

[2019-06-05 20:59] deiga commented on #322
@doomspork I don't see me prioritising this in the next few months to get this done.

[2019-06-12 10:11] Mathiou04 opened #346 "Comment for Bitbucket stopped working"
Apparently pronto still uses bitbucket v1.0 API for reading and posting comments. This API has just been removed (it now returns http error code 410).

We need to update to v2.0 API to keep this behaviour.

[2019-06-17 14:21] doomspork commented on #318
@jaydorsey this looks like a bug, would you be open to submitting a PR to resolve this?

[2019-06-17 14:23] doomspork commented on #322
Sounds good, we'll close this.

[2019-06-17 14:23] #322 closed

[2019-06-19 02:30] jaydorsey commented on #318
I'd love to volunteer, but I haven't used pronto since I filed the PR. I switched to using overcommit exclusively around that time.

I did investigate this at the time I filed the issue but couldn't identify a root cause.

I did take a look at this with a quick example today and it looks like one of the latest releases fixed the issue as reported.

- `pronto run --staged` works when I stage a file

[2019-06-19 02:30] #318 closed

[2019-07-12 12:31] zhisme opened #350 "Gitlab CI integration pipeline"
Hello, I cannot understand at all how to integrate this to Gitlab CI as part pipelines of `.gitlab-ci.yml`
README just says about some tokens, not describing where to get them.
As I understand README is written like I run the following commands on my local. But why I need this, I want automation.

As I see it should work, like rspec pipeline for example.
[code]

Is it supposed to be used this way,

[2019-07-12 14:31] zhisme commented on #350
So I have found solution.
I made a docker script for this.

pronto
[code]

Then in my `gitlab-ci.yml`
[code]

Then after `git origin push feature-branch` it will run pipeline job for this, and automatically create comments. I think you need to add these to wiki or somewhere.

[2019-07-12 14:31] #350 closed

[2019-07-20 13:41] alexanderadam commented on #275
[Gitea](https://gogs.io/) and [gogs](https://github.com/go-gitea/gitea) are no CI tools though. They are repository managers like GitHub, GitLab or Bitbucket.

I guess another API client library like [`megam_gogs`](https://github.com/megamsys/megam_gogs.rb) but do you have any documentation regarding adding PR integration for another repository manager?

[2019-07-22 08:25] starchow commented on #346
This bug could be closed after this pull request #352 is merged.

[2019-07-31 17:09] jbielick commented on #288
Adding another example:

We run pronto in CI like so:

[code]

The only runner we're using is `pronto-rubocop`.

What we expected to happen:

1.  We'd like PR comments (`github_pr` achieves this)
1. We'd like a status check (`github_status` achieves this)
1. We'd like the pronto run output to be in the CI log (`text` achieves this)
1. We'd like the CI job to fail if there are any pronto offenses r

[2019-07-31 17:50] jdq22 commented on #266
I tried this, but it doesn't work. I'm still getting a `bundler: failed to load command: pronto`.

This is what it looks like in our CircleCI yml:
[code]

[2019-08-01 17:29] jdq22 opened #353 "Octokit::UnprocessableEntity - No commit found for SHA"
I'm using Pronto with CircleCI and GitHub. On July 30, 2019, our CircleCI jobs started failing because of this error:
[code]

I'm also able to reproduce this error locally.

[2019-08-03 04:17] jdq22 commented on #353
I figured out the error was coming from `pronto-eslint`. Closing this.

[2019-08-03 04:17] #353 closed

[2019-08-05 12:14] ashkulz commented on #291
I think the fix is included in `v0.10.0`, which was released on Feb 3.

[2019-08-14 00:29] aventumcormac opened #355 "rugged-0.28.3 issue undefined symbol: pcreposix_regcomp"
[code]

[2019-08-15 13:08] sikachu commented on #355
It seems like rugged team has released 0.28.3.1 which should fix the issue.

[2019-08-16 15:12] #355 closed

[2019-08-16 18:12] meuble opened #356 "Gitlab Integration: Nil commit_sha crashes Pronto"
Synopsis:

A `Message` with a `commit_sha=nil` generate an invalid Gitlab URL, resulting in Pronto failing.

Description:

We have a CI set up at Gitlab public cloud, running Pronto and Rubocop at each push. Everything worked fine until a month ago.

We had the following error:

[code]

We were thinking of a configuration issue, having two protocols and two domains in the reported URL. Then we wer

[2019-09-03 13:28] flaprano commented on #346
Is there any prediction on when the version with bitbucket API v2 support will be released?

[2019-09-19 19:23] doomspork commented on #346
The PR has been merged. I would like to get a few others merged in before cutting a new release.

Is it possible for you to point to GH for now?

[2019-09-19 22:05] flaprano commented on #346
Unfortunately not.
All my projects are stored on Bitbucket.
I totally understand the the wait time for other merges. I will try to make a fork and solo release to use on my projects.
Thanks 😁

[2019-09-20 21:01] abinoam commented on #353
Hi @jdq22

I'm having the same error.
Disabling `pronto-eslint` have solved it. Thanks!
Any details more?

[2019-09-27 12:59] enthusiasmus opened #357 "Pronto doesn't run without being in a git repo and providing a path"
Is it possible to run pronto with its runner without path by only being inside a git repository? For only the third and last (out of three) commands works.

[code]
I would like to `cd` into the root of my project directory and execute `pronto run` without providing a path.

Further informations:
[code]

Thanks for feedback,
best regards,
Lukas

[2019-09-29 13:58] arika opened #358 ""pronto run" failed (Errno::ENOENT) if cwd is a "git worktree""
[code]

I guess that `Pronto::Git::Patch#new_file_full_path` may return unexpected value for `Pronto::Runner`.

[code]

When I apply the following patch, `new_file_full_path` returns `#<Pathname:/tmp/t/Gemfile>`.

[code]

[2019-10-08 13:17] jbielick commented on #294
Pluggable formatters is a really good idea.

In lieu of that, we set up a [GitHub Action to run Pronto (ruby runners) and post results to the Checks API](https://github.com/marketplace/actions/pronto-ruby). The [CheckRun API](https://developer.github.com/v3/checks/runs/) seems pretty stable. Hope this is helpful to someone!

Is there any interest in this supporting other languages or runners?

[2019-10-09 16:07] jbielick commented on #294
[Here's a crack at a GitHub Check Run formatter](https://github.com/AdWerx/pronto-ruby/blob/master/src/github_action_check_run_formatter.rb)

[2019-10-09 20:16] mbj commented on #249
@BobReid Mutant was significantly refactored and now has a good configuration API. I also have limited config file support now.

But there is a license change, the new releases will not be under an opensource license anymore. OSS is unsustainable for me.

Still the last OSS release also ships some of the config file support / config API changes.

[2019-10-15 10:19] renatolond opened #359 "Pronto seems to ignore files after it has processed all diffs"
Hi!

We have a project which have a lot (~10k) of data files. Those files are updated from time to time but they are not supposed to be evaluated by pronto. We've added a `.pronto.yml` and added the directory to be excluded, however pronto still gets stuck because it seems to be trying to process all diffs coming from this directory before evaluating the exclude. This makes it so that the only way

[2019-10-16 09:05] tevariou commented on #265
I'm running into the same issue as OP
@sunasra did you simply fix it opening a PR?

[2019-10-16 10:06] tevariou commented on #260
I'm running in a similar error on circle ci

`Did you mean?  each_slice
  /usr/local/lib/ruby/2.5.0/ostruct.rb:94:in `initialize'
  /usr/local/bundle/gems/pronto-0.10.0/lib/pronto/clients/bitbucket_client.rb:47:in `new'
  /usr/local/bundle/gems/pronto-0.10.0/lib/pronto/clients/bitbucket_client.rb:47:in `block in openstruct'
  /usr/local/bundle/gems/pronto-0.10.0/lib/pronto/clients/bitbucket_client

[2019-10-23 18:25] doomspork commented on #358
@arika would you be open to submitting a fix?

[2019-10-25 18:19] grantmcd commented on #346
@doomspork I pointed the pronto gem to use the master branch and there still appears to be error around comments. Now though it's an error with #parse_comments.

I'm very unfamiliar with the bitbucket api, but I'm wondering if how the responses are parsed needs to get updated as well.

[2019-10-27 15:52] bradrees commented on #346
See this PR, it should fix it #354

I had issues too

[2019-11-07 05:04] tabraiz12 opened #362 "Duplicate comments getting posted"
Bitbucket paginates api response in v2 and gets only 10 comments if there are more than 10 comments than a duplicate comment gets posted.

[2019-11-14 09:58] julianrubisch opened #365 "Add option to exclude a runner"
This requires some explanation. IIUC you can specify which runners to run with `-r`, but pronto will actually use this to `require` a certain runner.

I wrote a `ruby-standardrb` runner https://github.com/julianrubisch/pronto-standardrb (see respective PR #364) basically only by subclassing `pronto-rubocop` (because that's what `standard` is, an opinionated wrapper around rubocop).

Now of course

[2019-11-18 22:53] pbstriker38 commented on #288
Is there any traction on this issue?

[2019-12-27 17:55] apiology opened #366 "Make Pronto::Git::Patch#new_file_path public for plugin authors to use"
It looks like the GitHub reporter (at least) won't report on an issue if we provide the absolute path in the Message object.  This is, for instance, what pronto-rubocop does: https://github.com/prontolabs/pronto-rubocop/blob/master/lib/pronto/rubocop/offense_line.rb#L19

Unfortunately, the convenience method to pull this is private:
https://github.com/prontolabs/pronto/blob/master/lib/pronto/git/p

[2020-01-02 14:51] doomspork commented on #366
@apiology I see no problem with this, would you please submit a PR with appropriate test coverage?

[2020-01-09 14:33] #366 closed

[2020-01-21 10:50] vkotovv commented on #232
Looks like it can be closed now, resolved by #351 MR

[2020-01-21 11:05] ivanovaleksey commented on #232
@vkotovv thanks for pointing this out. Currently I am not using Pronto, so I can't actually test behaviour.
I will close the issue. If there would be any problems write a comment to reopen.

[2020-01-21 11:05] #232 closed

[2020-02-06 06:16] Strnadj commented on #306
This is closed in https://github.com/prontolabs/pronto/pull/351 ?

[2020-04-01 15:38] jbielick commented on #294
FYI we made a [Github Action for running pronto with a Check Run formatter](https://github.com/marketplace/actions/pronto-ruby) to handle this. Github Actions are given an App token so it was a good fit.

[2020-04-12 09:26] emilebosch opened #373 "Make gitlab/github/http dependencies optional (lazy loaded)"
Hi, I love pronto but I don't want the extra deps. Because:

- It requires us to keep the dependent gems to be updated.
- Increases the attack vector
- and lowers the chance of this gem being approved by our security scrutiny check.
- Lowers the overal performance

Is it maybe an idea to split things out?  We can choose a migration path like this:

We make a `pronto-core` that includes nothing. on

[2020-04-17 06:13] ashkulz opened #376 "Release new gem version"
We're in the same situation as #312 -- it's been a year since a release was made. Is there anything the community can do to help make that happen?

cc @mmozuras

[2020-05-06 23:55] #211 closed

[2020-05-11 07:58] renatolond opened #377 "Relax rugged dependency"
Rugged just released v1.0 to match libgit. It is expected to be API compatible with `0.28`, which is already supported by pronto. (from https://github.com/libgit2/libgit2/releases)

Could the rugged dependency be relaxed to support 1.0.x too?

[2020-05-12 17:39] mknapik commented on #377
Sure, would you be able to submit a PR?

[2020-05-12 18:04] oksanka-blaze commented on #376
+1

[2020-05-13 07:08] renatolond commented on #377
For sure, created one :)

[2020-05-27 08:32] ylecuyer commented on #376
+1

[2020-05-27 09:07] solnic opened #382 "Dependencies on gitlab and github should not be defined in the gemspec"
First of all, thanks for pronto! It helps us significantly and we enjoy using it.

Now the problem: given that a pronto user may or may not be using GitHub and/or GitLab, the client gems *should not be specified in the gemspec* because they are not core dependencies.

My specific case is that I use GitHub, so I don't want to have GitLab client gem in my dependencies because it can, and it actually

[2020-05-27 15:45] mknapik commented on #382
I agree however the code is coupled so it would be quite a refactoring.
Also, I'm wondering if such change constitutes as a minor or a major one in terms of versioning.

[2020-05-28 09:14] solnic commented on #382
I'd say this should result in just moving things around a bit and changing that one place where you require client 3rd-party gems.

Technically speaking, it would be a breaking change since people would have to add client gems to their Gemfiles (assuming they don't have them already listed for other reasons than using pronto).

[2020-06-03 17:09] RGBD commented on #376
@mmozuras, pinging you once again.

[2020-06-03 17:12] RGBD commented on #376
@doomspork, @aergonaut ?

[2020-06-10 03:20] manhhung741 commented on #139
How to set up a runner without setting up a gem? Like for rubocop, you can define custom cop in the repo and add them in the config file with require like this
[code]

[2020-06-24 16:28] AxelTheGerman commented on #376
😞 I was just trying to integrate `pronto` into our CI workflow, had an issue installing `rugged`, seeing there are newer versions available and no releases in over a year here.

Seems like development on master branch has slowed too - going to have to find something else 😢

[2020-07-28 09:15] RGBD commented on #376
@AxelTheGerman , I ended up having a separate Gemfile and rubocop config in .pronto directory
then in .gitlab-ci.yml you can do
[code]
this way you don't need rugged in production

[2020-07-28 13:42] doomspork commented on #376
I have gotten access to my RubyGems account restore and will start working through new releases.

I would love to find some additional contributors for the Pronto org, right now the volume of requests far exceeds the bandwidth of myself. For those interested, please feel free to reach out to me or pass along this tweet if you know anyone who could be a good addition: https://twitter.com/doomspork/

[2020-07-28 13:54] ylecuyer commented on #376
Great news thanks :+1:

[2020-07-28 14:10] ashkulz commented on #376
@doomspork: I'm willing to contribute (_use it at work_) -- what kind of help would be most beneficial e.g. issue triage, PRs etc?

[2020-07-28 17:10] doomspork commented on #376
Issue triage and helping get PRs merged would be a great first step and a tremendous help.

We can work together to go through each repo, get things merged, version updated, and I'll get new gems published.